{% extends "layout.html" %}
{% block header %}

    <div id="header_left">
        <h2>{{ title }}</h2>
    </div>
    <div id="select_toolbar">

            <label>Project: </label>
            <select id="project_dropdown" name="project_dropdown">
            {% for proj in projects %}
            <option {% if proj == project %} selected {% endif %} value="{{project}}">{{ proj }}</option>
            {% endfor %}
            </select>

    </div>
    <script>
       $(function(){
            $('#project_dropdown').change(function(){
                var project_dropdown = document.getElementById('project_dropdown');
                window.location = "{{ request.META.HTTP_HOST }}/"+ project_dropdown.options[project_dropdown.selectedIndex].value;

        });
        });
    </script>
{% endblock %}