language: python
python:
  - "3.4"
  - "3.5"
  - "3.6"
# command to install dependencies
install:
  # - pip install -r requirements.txt
  - python setup.py install
# command to run tests
script: setup.py test
# which branch to test
branches:
  only:
    - master
    - develop