include MANIFEST.in
include LICENSE

include golem/gui/static/css/*
include golem/gui/static/css/*/*
include golem/gui/static/css/*/*/*
include golem/gui/static/img/*
include golem/gui/static/js/*
include golem/gui/static/js/*/*
include golem/gui/static/js/*/*/*

include golem/gui/templates/*
include golem/gui/templates/page_builder/*
include golem/gui/templates/project/*
include golem/gui/templates/report/*
include golem/gui/templates/test_builder/*
