{% extends "layout.html" %} 

{% block title %}Golem : {{project|capitalize}} : {{page_name}}{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='js/external/code_mirror/codemirror.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/page_object_code.css') }}">
{% endblock %} 

{% block content %}
<div class="col-lg-10 col-lg-offset-1 col-md-12">
    <div class="header-col" style="width: calc(100% - 160px)">
        <h3 id="pageObjectName" class="element-name"><span>{{page_name}}</span></h3>
    </div>
        <div class="header-col header-col-right">
            <button id="loadGuiButton" class="btn btn-default btn-sm" onclick="loadGuiView()"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Preview</button>
            {% if g.user.project_weight(project) >= 30 %}
            <button id="save" class="btn btn-default btn-sm" onclick="savePageObject();"><span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> Save</button>
            {% endif %}
        </div>
    <div class="clearfix"></div>
    <div>
        <div id="error-container" class="error-container" style="display: none;">
            <pre style="color: red"></pre>
        </div>
        <div id="codeEditorContainer"></div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/external/code_mirror/codemirror.js') }}"></script>
<script src="{{ url_for('static', filename='js/external/code_mirror/python.js') }}"></script>
<script src="{{ url_for('static', filename='js/page_object_code.js') }}"></script>
<script>
    let pageObjectName = "{{page_name}}";
    let pageObjectCode = {{page_object_code|tojson}};
    let codeError = {{error|tojson}};
</script>
{% endblock %}