<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>Golem</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />

    <!-- Custom styles for this template -->
   <link rel="stylesheet" href="{% static 'css/style.css' %}" />


   <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

<body>
    <div id="header">


        <div id="header_left">
        <h1><a href='/'>Golem</a></h1>
        <h3>Test Automation Framework</h3>
        </div>
    <div id="select_toolbar">

            <label>Project: </label>
            <select id="project_dropdown" name="project_dropdown">
            {% for proj in projects %}
            <option {% if proj == project %} selected {% endif %} value="{{proj}}">{{ proj }}</option>
            {% endfor %}
            </select>

    </div>
    <script>
       $(function(){
            $('#project_dropdown').change(function(){
                var project_dropdown = document.getElementById('project_dropdown');
                window.location = "{ request.META.HTTP_HOST }/"+ project_dropdown.options[project_dropdown.selectedIndex].value;

        });
        });
    </script>


    </div>
    <div id="content" style="clear: both;">
        {% block content %}{% endblock %}
    </div>

		
</body>
</html>