{% extends "layout.html" %}
{% block title %}{{ section.title }}{% endblock %}
{% block content %}

<div class="row">
<div id="test_case_container" class="col-md-6">
    {% if not selected_test_case %}

    {% else %}
    <h3>Test Case: {{ selected_test_case }}</h3>
    <span>Steps:</span>
    <table border="1">
        {% for step in test_case %}
        <tr>
            <td>{{ step.0 }}</td>
            <td>{{ step.1 }}</td>
            <td>{{ step.2 }}</td>
            <td>{{ step.3 }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>
<div id="page_object_container" class="col-md-6">
    <label>Page Objects:</label>
</div>
<div class="clearfix"></div>
<div id="test_data_container" class="col-md-6">
    <label>Test Data:</label>
    <table border="1">
        <tr>
            {% for dkey in test_data.0 %}
                <td><strong> {{ dkey}} </strong></td>
            {% endfor %}
        </tr>

        {% for line in test_data %}
            <tr>
                {% for key, value in line.items %}
                    <td> {{ value }} </td>
                {% endfor %}
            </tr>
        {% endfor %}
        <!--
        {% for line in test_data %}
        <tr>
            {{ line }}
            <!--
            {% for row in line %}
            <td>{{ row }}</td>
            {% endfor %}
        </tr>
        {% endfor %}-->
    </table>
</div>


</div>

<script>
    var selected_project;
    var selected_test_case;


    function select_project(){
      selected_project = document.getElementById("project");
        window.location.search = '&project=' + selected_project.options[selected_project.selectedIndex].value;

    }

</script>
{% endblock %}