

.wrapper {
	margin-bottom: 0px;
}


.page-title {
	margin-top: 5px !important;
	margin-bottom: 30px !important;
}

.project-container { 
	background-color: #f5f5f5;
	border: 1px solid #e4e4e4;
	margin-bottom: 15px;
}


.widget-historial canvas{
	height: 250px;
}

.progress-bar-container{
	margin-bottom: 0px;
}

.table-content{
	padding-top: 10px !important;
	margin-bottom: 0px;
	padding-bottom: 0px !important;
}


.last-execution-table tbody td{
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}

.table {
	margin-bottom: 0px;
}


.hand-icon {
	cursor: pointer;
}

.modal-dialog {
	width: 90%;
	padding-top: 0px;
}

#expandedScreenshot {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.modal-header .close {
	font-size: 28px;
	margin-top: -12px;
}

.modal-header {
	padding-right: 10px;
}

.link-without-underline, .link-without-underline:hover, .link-without-underline:visited, .link-without-underline:focus {
    text-decoration: none;
    outline: none;
    color: inherit;
}

