
.main-container {
	font-size: 17px;
}


.step-screenshot {
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	border: 1px solid lightgray;
}

.test_case_container {
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 15px;
}