

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

p.note {
    
}

.border-image {
    border: 1px solid #d3d3d3;
    padding: 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#permissionTable tr {
    background-color: white;
}

#permissionTable td, #permissionTable th {
    padding: 5px;
}

#permissionTable td {
    text-align: center;
}

.align-left {
    text-align: left !important;
}
