<!-- Reset Password Modal -->
<div class="modal fade" id="resetPasswordModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Reset Password</h4>
            </div>
            <div class="modal-body">
                <input type="password" class="form-control" id="resetPasswordInput"
                       onkeyup="if(event.keyCode==13){$('#resetPasswordConfirm').click()}" placeholder="New Password">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default dismiss-modal" data-dismiss="modal">Cancel</button>
                <button type="button" id="resetPasswordConfirm" class="btn btn-primary confirm" onclick="resetPassword()">Reset Password</button>
            </div>
        </div>
    </div>
</div>