{% extends "layout.html" %}
{% block title %}{{ section.title }}{% endblock %}
{% block content %}

<div class="row">
<div id="test_case_container" class="col-md-6">

    <h3>Test Suite: {{ suite }}</h3>
    <ul>
        {% for test in tests %}
        <li>
            <span>{{ test }}</span>
        </li>
        {% endfor %}
    </ul>

</div>
<div id="page_object_container" class="col-md-6">
    <label>Page Object:</label>
</div>
<div class="clearfix"></div>
<div id="test_data_container" class="col-md-6">
    <label>Suite Test Data:</label>
    <table>
        {% for line in suite_data %}

        {% endfor %}
    </table>
</div>


</div>

<script>
    var selected_project;
    var selected_test_case;


    function select_project(){
      selected_project = document.getElementById("project");
        window.location.search = '&project=' + selected_project.options[selected_project.selectedIndex].value;

    }

</script>
{% endblock %}