{% extends "layout.html" %} 

{% block head_declarations %} 

<link rel="stylesheet" href="{{ url_for('static', filename='js/external/code_mirror/codemirror.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/json_code_editor.css') }}">

{% endblock %} 

{% block content %}

<style>
    .CodeMirror {
        border: 1px solid #e0e0e0;
        font-size:13px;
        height: 300px;
    }
</style>
<div class="col-lg-8 col-lg-offset-2">

    <div class="col-sm-6 header-col">
        <h3 id="pageObjectName">
            <small>
                <a href="/p/{{project}}/" class="link-without-underline">
                    <span class="glyphicon glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                </a>
            </small>
            {% if project %}{{project|replace("_", " ")}} - {% endif %} environments</h3>
    </div>
        
    <div class="col-sm-6 text-right header-col" style="padding-top: 20px">
        <button id="save" class="btn btn-default btn-sm" onclick="saveEnvironments();"><span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> Save</button>
    </div>

    <div class="clearfix"></div>

        <div class="codeEditorContainer" id="environmentsContainer">
        </div>

        <div style="margin-top: 15px"><i class="fa fa-info-circle" aria-hidden="true"></i> Must be valid JSON <a href="https://en.wikipedia.org/wiki/JSON">https://en.wikipedia.org/wiki/JSON</a></div>

        <br>
        <br>

        <div class="panel panel-default">
          <div class="panel-body">
            <strong>Example</strong>
            
            <pre style="white-space: pre;">
{
    "test": {
        "url": "http://test-url:5000/"
    },
    "staging": {
        "url": "http://staging-url:5000/"
    }
}</pre>

        </div>

    </div>
</div>

<script>
    var project = '{{project}}';
    var environmentData = {{environment_data|tojson}};
</script>
<script src="{{ url_for('static', filename='js/external/code_mirror/codemirror.js') }}"></script>
<script src="{{ url_for('static', filename='js/external/code_mirror/javascript.js') }}"></script>
<script src="{{ url_for('static', filename='js/environments.js') }}"></script>


{% endblock %}