{% extends "layout.html" %} 


{% block title %}Index{% endblock %}

{% block head %} {{ super() }} {% endblock %} 


{% block content %}
<div class="row">



    <div class="col-md-12" id="import_panel">
        <label>Add New Test Case List</label>
        <form id="import_form" action="" method="POST" enctype="multipart/form-data">
            <input type="file" name="import_file">
            <br>
            <button id="go_back_button">Back</button>
            <input type="submit" value="Import">

        </form>
        
    </div>

</div>

<script>
    var project = window.location.pathname.split('/')[1];
    var action = '/' + project + '/import/'
    $("#import_form").attr('action', action);

    $("#go_back_button").click(function(){
        window.location.pathname = '/'+project+'/';
        return false
    });
</script>

{% endblock %}