{% extends "layout.html" %}

{% block head_declarations %}
	{{ super() }}
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-sm-4 col-sm-offset-4">
        <h4>Select a Project</h4>
        <div id="projectList" class="list-group">
            {% for project in projects %}
            	<a href="/p/{{project}}/" class="list-group-item">{{ project }}</a>
            {% endfor %}
        </div>

        {% if current_user.is_admin %}
            <div id="projectCreationButton">
                <button class="btn btn-default">Create Project</button>
            </div>
            <div id="projectCreationForm" style="display: none;">
                <div class="form-group" style="margin-bottom: 5px">
                    <input type="text" class="form-control" id="newProjectName" placeholder="Project Name" maxlength="50" onkeyup="if(event.keyCode==13){createProject()}">
                </div>
                <div class="text-right">
                    <button id="createProjectCancel" class="btn btn-default">Cancel</button>
                    <button id="createProjectCreate" class="btn btn-primary" onclick="createProject();">Create</button>
                </div>
            </div>
        {% endif %} 
    </div>
</div>

<script src="{{ url_for('static', filename='js/index.js') }}"></script>

{% endblock %}