<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">

    <!--CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/bootstrap-theme.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/toastr/toastr.min.css') }}" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/temp.css') }}">

    <!-- JQUERY -->
    <script src="{{ url_for('static', filename='js/external/jquery.min.js') }}"></script>

    <title>Golem</title>

    {% block head_declarations %}
    {% endblock %}
</head>

<body>

  <div class="container-fluid">





<!-- <div class="wrapper"> -->
    <!-- Sidebar Holder -->

<script>
    if({% if no_sidebar %}true{%else%}false{%endif%}){
      document.write("<div id='wrapper' class='no-sidebar'>") 
    }
    else if(localStorage.getItem('sidebarCollapse') == 'true'){
      document.write("<div id='wrapper' class='sidebar-collapsed'>")
    }
    else{
      document.write("<div id='wrapper'>") 
    }
  </script>

  <nav id="sidebar" class="">
        <div class="sidebar-header">
            <a href="/">
              <h3>Golem</h3>
              <strong>G</strong>
            </a>
        </div>

        <ul class="list-unstyled components">
            {% if project%}
            
           <!--  <li>
                <a href="/p/{{project}}/">
                    <i class="fa fa-home" aria-hidden="true"></i>
                    Project
                </a>
            </li> -->
            
            <li>
                <a href="/project/{{project}}/suites/">
                    <i class="glyphicon glyphicon-tasks"></i>
                    Suites
                </a>
            </li>
            <li>
                <a href="/project/{{project}}/tests/">
                    <i class="fa fa-file-code-o" aria-hidden="true"></i>
                    Tests
                </a>
            </li>
            <li>
                <a href="/project/{{project}}/pages/">
                    <i class="fa fa-book" aria-hidden="true"></i>
                    Pages
                </a>
            </li>
            <li>
                <a href="/report/project/{{project}}/">
                    <i class="fa fa-bar-chart" aria-hidden="true"></i>
                    Reports
                </a>
            </li>
            <li>
                <a href="/project/{{project}}/settings/">
                    <i class="fa fa-cogs" aria-hidden="true"></i>
                    Settings
                </a>
            </li>
            <li>
                <a href="/project/{{project}}/environments/">
                    <i class="fa fa-sitemap" aria-hidden="true"></i>
                    Environments
                </a>
            </li>
            {% else %}
            <li>
                <a href="/report/">
                    <i class="fa fa-bar-chart" aria-hidden="true"></i>
                    Reports
                </a>
            </li>
            <li>
                <a href="/settings/">
                    <i class="fa fa-cogs" aria-hidden="true"></i>
                    Settings
                </a>
            </li>
            {% endif %}
        </ul>

        <ul class="list-unstyled components">
          {% if g.user.is_authenticated %}
          <li>
              <a href="#pageSubmenu" id="userMenu" data-toggle="collapse" aria-expanded="false">
                  <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                  {{ g.user.username }}
              </a>
              <ul class="collapse list-unstyled" id="pageSubmenu">
                  <li><a href="/logout/">Log out</a></li>
              </ul>
          </li>
          {% else %}
          <li>
              <a href="/login/">
                  <i class="glyphicon glyphicon-send"></i>
                  Log in
              </a>
          </li>
          {% endif %}
        </ul>
        

        <ul class="list-unstyled">
            <li>
              <a href="#" id="sidebarCollapse" class="collapse-sidebar"><i class="glyphicon" aria-hidden="true"></i></a>
            </li>
        </ul>
    </nav>
    
    <!-- Page Content Holder -->
    <div id="content" class="container-fluid">
      {% block content %}
      {% endblock %}
    </div>
</div>

</div>

<!-- Error Modal -->
<div class="modal fade" id="errorModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Error</h4>
    </div>
    <div class="modal-body">
        <ul id="errorList">
        </ul>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default dismiss-modal" data-dismiss="modal">Continue</button>
    </div>
</div>
</div>
</div>

<!-- Confirm Modal -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"></h4>
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default dismiss-modal" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary confirm">Delete</button>
    </div>
</div>
</div>
</div>

<!-- Prompt Modal -->
<div class="modal fade" id="promptModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"></h4>
    </div>
    <div class="modal-body">
      <div class='description'></div>
      <br>
      <input type="text" class="form-control" id="promptModalInput" onkeyup="if(event.keyCode==13){$('#prompSaveButton').click()}">

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default dismiss-modal" data-dismiss="modal">Cancel</button>
        <button type="button" id="prompSaveButton" class="btn btn-primary confirm">Save</button>
    </div>
</div>
</div>
</div>

<!-- Select Prompt Modal -->
<div class="modal fade" id="selectPromptModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" style="width: 400px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"></h4>
    </div>
    <div class="modal-body">
      <div class='description'></div>
      <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <select id="selectPromptSelect" class="form-control"></select>
      </div>
      </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default dismiss-modal" data-dismiss="modal">Cancel</button>
        <button type="button" id="selectPromptContinueButton" class="btn btn-primary confirm">Continue</button>
    </div>
</div>
</div>
</div>

<!-- Screenshot Modal -->
<div class="modal fade screenshot-modal" id="screenshotModal" tabindex="-1" role="dialog">
  <div class="modal-dialog screenshot-modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <img id="expandedScreenshot">
      </div>
    </div>
  </div>
</div>

<script src="{{ url_for('static', filename='js/external/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/external/toastr.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/external/chart.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script>
  var username = "{{g.user.username}}";
</script>
{% block footer_declarations %}{% endblock %} 

</body>

</html>