<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">

    <!--CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/bootstrap-theme.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <!--
    <link rel="stylesheet" href="{{ url_for('static', filename='css/switch.css') }}">
    -->

    <!-- JQUERY -->
    <script src="{{ url_for('static', filename='js/jquery/jquery.min.js') }}"></script>

    <title>Golem</title>
    
    {% block head %}
    {% endblock %} 
		
		
</head>

<body>
    <div class="container">
        
        <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="#">Log in</a></li>
          </ul>
        </nav>
        <h3 class="text-muted"><a href="/">Golem <small>Test Automation</small></a></h3>
      </div>

        {% block content %}
        {% endblock %}

        <!--
        <footer class="footer">
            <p>&copy; Casey 2015</p>
        </footer>
        -->
    </div>


    
<script src="{{ url_for('static', filename='js/bootstrap/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>


</body>

</html>