{% extends "layout.html" %} 

{% block title %}Golem : Login{% endblock %}

{% block content %}
<div class="row">
	<div class="col-xs-12 col-sm-1" style="min-width: 300px; left: 50%; transform: translate(-50%, 0);">
		<h3>Login</h3>
        <br>
		{% if errors %}
			<ul id="errorList" class="no-bullets no-padding-left">
				{% for error in errors %}
					<li>{{error}}</li>
				{% endfor %}
			</ul>
		{% endif %}

		<form class="form-horizontal" action="/login/" method="POST">
            <div style="margin-bottom: 15px">
                <input type="text" class="form-control" id="username" name="username" placeholder="Username" autofocus>
			</div>
			<div style="margin-bottom: 15px">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
			</div>
			<input type="hidden" id="next" name="next" value="{{next_url}}">
			<div class="text-center">
                <button type="submit" class="btn btn-default" style="width: 100%">Log in</button>
            </div>
		</form>
	</div>
</div>
{% endblock %}