{% extends "layout.html" %} 


{% block title %}Nuevo Caso{% endblock %}

{% block head %} {{ super() }} {% endblock %} 

{% block content %}
<div class="row">
    <div class="col-md-12">
        <label>Nuevo Caso</label>
        <form action="/p/{{project}}/new_test_case/" method="POST">
            <input type="text" name="test_case_name" placeholder="Nombre del caso">
            <input type="hidden" name="project" value="{{project}}">
            <input type="hidden" name="parents" value="{{parents}}">
            <br>
            <input type="submit" value="Crear">

        </form>
    </div>

</div>

{% endblock %}