{% extends "layout.html" %} 

{% block head %} 

<link rel="stylesheet" href="{{ url_for('static', filename='css/page_object.css') }}">

{% endblock %} 

{% block content %}

<div>
	

    <!--
    <div id="tc_toolbar">

        <button name="save" id="save" onclick="saveTestCase();">Save</button>
        <label>
            <input type="checkbox" name="autosave" id="autosave" checked="checked" autocomplete="off">Autosave
        </label>
        <span>|</span>
        <span id="changesSavedNotification">All changes saved</span>


    </div>-->


    <div class="col-sm-10 col-sm-offset-1" id="datosContainerContainer">

        <div class="col-sm-6">
            <h3 id="pageObjectName">
                <small>
                    <a href="/p/{{project}}/" class="link-without-underline">
                        <span class="glyphicon glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                    </a>
                </small>
            {{page_name}}</h3>
        </div>
        <div class="col-sm-6 text-right" style="padding-top: 20px">
            <button id="save" class="btn btn-default btn-sm" onclick="savePageObject();"><span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> Save</button>
        </div>

        <div class="clearfix"></div>

        <h4>Elements</h4>

        <div class="col-md-12" style="margin-bottom: 10px">
            <div class="col-sm-3">
                <strong>Name</strong>
            </div>
            <div class="col-sm-3">
                <strong>Selector</strong>
            </div>
            <div class="col-sm-3">
                <strong>Value</strong>
            </div>
            <div class="col-sm-3">
                <strong>Display Name</strong>
            </div>
        </div>
        
        <div class="clearfix"></div>        

        <div id="datosContainer">
            <div id="elements">
                {% for element in page_object_data.element_list %}
                    <div class="element col-md-12">
                        <div class="col-sm-3">
                            <div class="input-group">
                                <input type="text" class="form-control element-name" value="{{element.element_name}}" placeholder="name">
                            </div> 
                        </div>
                        <div class="col-sm-3">
                            <div class="input-group">
                                <input type="text" class="form-control element-selector" value="{{element.element_selector}}" placeholder="selector">
                            </div> 
                        </div>
                        <div class="col-sm-3">
                            <div class="input-group">
                                <input type="text" class="form-control element-value" value="{{element.element_value}}" placeholder="value">
                            </div> 
                        </div>
                        <div class="col-sm-3">
                            <div class="input-group">
                                <input type="text" class="form-control element-display-name" value="{{element.element_display_name}}" placeholder="display name">
                            </div> 
                        </div>
                    </div>
                {% endfor %}
                {% if not page_object_data %}
                    <div class="element col-md-12">
                        <div class="col-sm-3">
                            <div class="input-group">
                                <input type="text" class="form-control element-name" value="" placeholder="name">
                            </div> 
                        </div>
                        <div class="col-sm-3">
                            <div class="input-group">
                                <input type="text" class="form-control element-selector" value="" placeholder="selector">
                            </div> 
                        </div>
                        <div class="col-sm-3">
                            <div class="input-group">
                                <input type="text" class="form-control element-value" value="" placeholder="value">
                            </div> 
                        </div>
                        <div class="col-sm-3">
                            <div class="input-group">
                                <input type="text" class="form-control element-display-name" value="" placeholder="display name">
                            </div> 
                        </div>
                    </div>
                {% endif %}
            </div>

            <button class="btn btn-default btn-sm" style="margin-left: 30px" onclick="addPageObjectInput();"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Element</button>
        </div>

        <div class="clearfix"></div>

        <h4 style="margin-top: 20px">Functions</h4>

        <div id="functionContainer">

            <div id="functions">
                {% for function in page_object_data.function_list %}
                    <div class="function col-md-12">
                        <div class="col-sm-3">
                            <div class="input-group" data-toggle="collapse" data-target="#{{function.function_name}}" aria-expanded="false" aria-controls="{{function.function_name}}">
                                <input type="text" class="form-control element-name" value="{{function.function_name}}" placeholder="name" disabled>
                                <input type="hidden" class="func-code" value="{{function.code}}"></div>
                            </div> 
                        </div>

                        <div class="clearfix"></div>
                        
                        <div class="collapse" id="{{function.function_name}}">
                            <pre style="margin-left: 15px">{{function.code}}</pre>
                        </div>
                    </div>
                {% endfor %}
            </div>

           {% for line in page_object_data.import_lines %}
                <input type="hidden" class="import-line" value="{{line}}">
           {% endfor %}

        </div>

    </div>

    


</div>



<script src="{{ url_for('static', filename='js/page_object.js') }}"></script>

<script src="{{ url_for('static', filename='js/jquery-autocomplete/jquery.autocomplete.min.js') }}"></script>

<script>
    var project = "{{project}}";
    var pageObjectName = "{{page_name}}";
</script>

{% endblock %}