{% extends "layout.html" %} 

{% block head_declarations %} 

<link rel="stylesheet" href="{{ url_for('static', filename='css/page_object.css') }}">

{% endblock %} 

{% block content %}

<div>

    <div class="col-lg-10 col-lg-offset-1 col-md-12" id="datosContainerContainer">

        <div class="col-sm-6 header-col">
            <h3 id="pageObjectName">
                <small>
                    <a href="/p/{{project}}/" class="link-without-underline">
                        <span class="glyphicon glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                    </a>
                </small>
                {{page_name}}</h3>
            </div>
            <div class="col-sm-6 text-right header-col" style="padding-top: 20px">
                <button id="loadCodeButton" class="btn btn-default btn-sm" onclick="loadCodeView()"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>Code<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></button>

                <button id="save" class="btn btn-default btn-sm" onclick="savePageObject();"><span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> Save</button>
            </div>

            <div class="clearfix"></div>

            <h4>Elements</h4>

            <div class="col-md-12" style="margin-bottom: 10px">
                <div class="col-xs-3 no-pad-left padding-right-5">
                    <strong>Name</strong>
                </div>
                <div class="col-xs-3 padding-left-5 padding-right-5">
                    <strong>Selector</strong>
                </div>
                <div class="col-xs-3 padding-left-5 padding-right-5">
                    <strong>Value</strong>
                </div>
                <div class="col-xs-3 padding-left-5 no-pad-right">
                    <strong>Display Name</strong>
                </div>
            </div>

            <div class="clearfix"></div>        
            <div id="datosContainer">
                <div id="elements">
                    {% for element in page_object_data.element_list %}
                    <div class="element col-md-12 clearfix">
                        <div class="col-xs-3 no-pad-left padding-right-5">
                            <div class="input-group po-input-group">
                                <input type="text" class="form-control element-name" value="{{element.element_name}}" placeholder="name">
                            </div> 
                        </div>
                        <div class="col-xs-3 padding-left-5 padding-right-5">
                            <div class="input-group po-input-group">
                                <input type="text" class="form-control element-selector" value="{{element.element_selector}}" placeholder="selector">
                            </div> 
                        </div>
                        <div class="col-xs-3 padding-left-5 padding-right-5">
                            <div class="input-group po-input-group">
                                <input type="text" class="form-control element-value" value="{{element.element_value}}" placeholder="value">
                            </div> 
                        </div>
                        <div class="col-xs-3 padding-left-5 no-pad-right">
                            <div class="input-group po-input-group">
                                <input type="text" class="form-control element-display-name" value="{{element.element_display_name}}" placeholder="display name">
                            </div> 
                        </div>
                    </div>
                    {% endfor %}
                    {% if not page_object_data.element_list %}
                    <div class="element col-md-12 clearfix">
                        <div class="col-xs-3 no-pad-left padding-right-5">
                            <div class="input-group po-input-group">
                                <input type="text" class="form-control element-name" value="" placeholder="name">
                            </div> 
                        </div>
                        <div class="col-xs-3 padding-left-5 padding-right-5">
                            <div class="input-group po-input-group">
                                <input type="text" class="form-control element-selector" value="" placeholder="selector">
                            </div> 
                        </div>
                        <div class="col-xs-3 padding-left-5 padding-right-5">
                            <div class="input-group po-input-group">
                                <input type="text" class="form-control element-value" value="" placeholder="value">
                            </div> 
                        </div>
                        <div class="col-xs-3 padding-left-5 no-pad-right">
                            <div class="input-group po-input-group  ">
                                <input type="text" class="form-control element-display-name" value="" placeholder="display name">
                            </div> 
                        </div>
                    </div>
                    {% endif %}
                </div>

                <div class="clearfix"></div>

                <button class="btn btn-default btn-sm" style="margin-left: 15px;" onclick="addPageObjectInput();"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Element</button>
            </div>

            <div class="clearfix"></div>

            <h4 style="margin-top: 20px">Functions</h4>

            <div id="functionContainer">

                <div id="functions">
                    {% for function in page_object_data.function_list %}

                    <div class="function col-md-12">
                        <div class="input-group" data-toggle="collapse" data-target="#{{function.function_name}}" aria-expanded="false" aria-controls="{{function.function_name}}">
                            <input type="text" class="form-control no-border-radius" value="{{function.function_name}}" disabled>
                            <input type="hidden" class="func-code" value="{{function.code}}">
                        </div>

                        <div class="clearfix"></div>

                        <div class="collapse" id="{{function.function_name}}">
                            <pre class="no-border-radius"><code class="language-html" data-lang="html">{{function.code}}</code></pre>
                        </div>
                    </div>    

                    {% endfor %}
                </div>

                {% for line in page_object_data.import_lines %}
                <input type="hidden" class="import-line" value="{{line}}">
                {% endfor %}

            </div>

        </div>




    </div>



    <script src="{{ url_for('static', filename='js/page_object.js') }}"></script>

    <script src="{{ url_for('static', filename='js/jquery-autocomplete/jquery.autocomplete.min.js') }}"></script>

    <script>
        var project = "{{project}}";
        var pageObjectName = "{{page_name}}";
    </script>

    {% endblock %}