{% extends "layout.html" %}

{% block head_declarations %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/project_dashboard.css') }}">
	{{ super() }}
{% endblock %} 

{% block content %}

<div class="row">
	<div class="col-md-10 col-md-offset-1">

	<h3>{{project|replace("_", " ")}}</h3>

	<!-- <div style="height:100%"> -->
		<div class="col-sm-6 left-column no-padding-left padding-right-7-5">

			<div id="testsContainer" class="box-container gray-border-4">
				<span><strong>Test Cases</strong></span>
				<ul id="testCasesTree">
				
					{%- for key, value in test_cases.items() recursive %}
						
						{%- if value is mapping -%}
							<li class="tree-element branch">
								<a href="#">{{key}}</a>
								<span class="pull-right tree-element-buttons">
									<button><i class="glyphicon glyphicon-edit"></i></button>
					    			<button><i class="glyphicon glyphicon-copy"></i></button>
					    			<button onclick="deleteElementPrompt(this)"><i class="glyphicon glyphicon-remove"></i></button>
					    		</span>
					        	<ul>{{ loop(value.items()) }}
					        		<li>
						        		<span class="new-element-form" style="display: none;">
											<input class='new-element-input new-test-case' type='text' onblur="addElement(event);" onkeyup="if(event.keyCode==13){addElement(event)}">
										</span>
										<span class="display-new-element-link">
											<i class="glyphicon glyphicon-plus-sign"></i>
											<a href="#" onclick="displayNewElementForm(this)"> Add New</a>
										</span>
									</li>
					        	</ul>
					        </li>
					    {%- else %}
					    	<li class="tree-element">
					    		<a href="/p/{{project}}/test/{{key.1}}/">{{ key.0 }}</a> 
					    		<span class="pull-right tree-element-buttons">
					    			<!-- <button><i class="glyphicon glyphicon-play"></i></button>-->
					    			<button><i class="glyphicon glyphicon-edit"></i></button>
					    			<button><i class="glyphicon glyphicon-copy"></i></button>
					    			<button onclick="deleteElementPrompt(this)"><i class="glyphicon glyphicon-remove"></i></button>
					    		</span>
					    	</li>
					    {%- endif %}
					{%- endfor %}
					<li>
						<span class="new-element-form" style="display: none;">
							<input class='new-element-input new-test-case' type='text' onblur="addElement(event);" onkeyup="if(event.keyCode==13){addElement(event)}">
						</span>
						<span class="display-new-element-link">
							<i class="glyphicon glyphicon-plus-sign"></i>
							<a href="#" onclick="displayNewElementForm(this)"> Add New</a>
						</span>
					</li>
				</ul>
			</div>



			<div id="pagesContainer" class="box-container gray-border-4">
				<span><strong>Pages</strong></span>

				<ul id="pagesTree">
					{%- for key, value in page_objects.items() recursive %}
						{%- if value is mapping -%}
							<li class="tree-element branch" data-branch-name="{{key}}">
								<a href="#">{{key}}</a>
								<span class="pull-right tree-element-buttons">
									<button><i class="glyphicon glyphicon-edit"></i></button>
					    			<button><i class="glyphicon glyphicon-copy"></i></button>
					    			<button><i class="glyphicon glyphicon-remove"></i></button>
					    		</span>
					        	<ul>{{ loop(value.items()) }}
									<li>
						        		<span class="new-element-form" style="display: none;">
											<input class='new-element-input new-page-object' type='text' onblur="addElement(event);" onkeyup="if(event.keyCode==13){addElement(event)}">
										</span>
										<span class="display-new-element-link">
											<i class="glyphicon glyphicon-plus-sign"></i>
											<a href="#" onclick="displayNewElementForm(this)"> Add New</a>
										</span>
									</li>
					        	</ul>
					        </li>
					    {%- else %}
					    	<li class="tree-element" data-leaf-name="{{key.0}}">
					    		<a href="/p/{{project}}/page/{{key.1}}/">{{ key.0 }}</a>
					    		<span class="pull-right tree-element-buttons">
					    			<button><i class="glyphicon glyphicon-edit"></i></button>
					    			<button><i class="glyphicon glyphicon-copy"></i></button>
					    			<button onclick="removeTreeElement(this)"><i class="glyphicon glyphicon-remove"></i></button>
					    		</span>
					    	</li>
					    {%- endif %}
					{%- endfor %}
					<li>
						<span class="new-element-form" style="display: none;">
							<input class='new-element-input new-page-object' type='text' onblur="addElement(event);" onkeyup="if(event.keyCode==13){addElement(event)}">
						</span>
						<span class="display-new-element-link">
							<i class="glyphicon glyphicon-plus-sign"></i>
							<a href="#" onclick="displayNewElementForm(this)"> Add New</a>
						</span>
					</li>
				</ul>
			</div>


		</div>


		<div class="col-sm-6 right-column no-padding-right padding-left-7-5">

			<div id="suitesContainer" class="box-container gray-border-4">
				<span><strong>Test Suites</strong></span>
				<ul id="suites" class="tree">
					{% for suite in suites %}
						<li class="tree-element">
							<a href="/p/{{project}}/suite/{{suite}}/">{{suite}}</a>
							<span class="pull-right tree-element-buttons">
								<button><i class="glyphicon glyphicon-edit"></i></button>
				    			<button><i class="glyphicon glyphicon-copy"></i></button>
				    			<button><i class="glyphicon glyphicon-remove"></i></button>
				    		</span>
						</li>
					{% endfor%}
					<li>
						<span class="new-element-form" style="display: none;">
							<input class='new-element-input new-suite' type='text' onblur="addElement(event);" onkeyup="if(event.keyCode==13){addElement(event)}">
						</span>
						<span class="display-new-element-link">
							<i class="glyphicon glyphicon-plus-sign"></i>
							<a href="#" onclick="displayNewElementForm(this)"> Add New</a>
						</span>
					</li>
				</ul>
			</div>

			<div id="healthContainer" class="box-container gray-border-4" style="min-height: 150px">
				<div id="healthChartContainer" style="width: 50%; min-width: 200px; min-height: 200px; margin-left: auto; margin-right: auto">
					<canvas id="healthChartCanvas"></canvas>
				</div>
				<div id="healthTableContainer" class="table-responsive last-execution-table">
					<!-- <table id="healthTable" class="table">
						<thead>
							<tr>
								<th>Suite</th>
								<th>Date &amp; Time</th>
								<th>Result</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table> -->
				</div>
			</div>

		</div>
		
<!-- 		<div class="col-sm-6">
			

		</div> -->

	<!-- </div> -->
</div>
</div>

<script src="{{ url_for('static', filename='js/treeview.js') }}"></script>
<script src="{{ url_for('static', filename='js/project_dashboard.js') }}"></script>
<script>
	var project = '{{project}}';
</script>
{% endblock %}