
{% extends "layout.html" %}

{% block head %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/project.css') }}">
	{{ super() }}
{% endblock %} 

{% block content %}

<div class="row">
	<div class="col-md-10 col-md-offset-1">

	<h3>{{project}}</h3>

	<div class="col-sm-6">

		<span><strong>Test Cases</strong></span>
		<ul id="testCasesTree">
		
			{%- for key, value in test_cases.items() recursive %}
				
				{%- if value is mapping -%}
					<li class="tree-element branch">
						<a href="#">{{key}}</a>
						<span class="pull-right tree-element-buttons">
							<button><i class="glyphicon glyphicon-edit"></i></button>
			    			<button><i class="glyphicon glyphicon-copy"></i></button>
			    			<button><i class="glyphicon glyphicon-remove"></i></button>
			    		</span>
			        	<ul>{{ loop(value.items()) }}
			        		<li>
				        		<span class="new-element-form" style="display: none;">
									<input class='new-element-input new-test-case' type='text' onblur="addElement(event);" onkeyup="if(event.keyCode==13){addElement(event)}">
								</span>
								<span class="display-new-element-link">
									<i class="glyphicon glyphicon-plus-sign"></i>
									<a href="#" onclick="displayNewElementForm(this)"> Add New</a>
								</span>
							</li>
			        	</ul>
			        </li>
			    {%- else %}
			    	<li class="tree-element">
			    		<a href="/p/{{project}}/test/{{key.1}}/">{{ key.0 }}</a> 
			    		<span class="pull-right tree-element-buttons">
			    			<!-- <button><i class="glyphicon glyphicon-play"></i></button>-->
			    			<button><i class="glyphicon glyphicon-edit"></i></button>
			    			<button><i class="glyphicon glyphicon-copy"></i></button>
			    			<button><i class="glyphicon glyphicon-remove"></i></button>
			    		</span>
			    	</li>
			    {%- endif %}
			{%- endfor %}
			<li>
				<span class="new-element-form" style="display: none;">
					<input class='new-element-input new-test-case' type='text' onblur="addElement(event);" onkeyup="if(event.keyCode==13){addElement(event)}">
				</span>
				<span class="display-new-element-link">
					<i class="glyphicon glyphicon-plus-sign"></i>
					<a href="#" onclick="displayNewElementForm(this)"> Add New</a>
				</span>
			</li>
		</ul>

	</div>


	<div class="col-sm-6">
		<span><strong>Test Suites</strong></span>
		<ul id="suites" class="tree">
			{% for suite in suites %}
				<li class="tree-element">
					<a href="/p/{{project}}/suite/{{suite}}/">{{suite}}</a>
					<span class="pull-right tree-element-buttons">
						<button><i class="glyphicon glyphicon-edit"></i></button>
		    			<button><i class="glyphicon glyphicon-copy"></i></button>
		    			<button><i class="glyphicon glyphicon-remove"></i></button>
		    		</span>
				</li>
			{% endfor%}
			<li>
				<span class="new-element-form" style="display: none;">
					<input class='new-element-input new-suite' type='text' onblur="addElement(event);" onkeyup="if(event.keyCode==13){addElement(event)}">
				</span>
				<span class="display-new-element-link">
					<i class="glyphicon glyphicon-plus-sign"></i>
					<a href="#" onclick="displayNewElementForm(this)"> Add New</a>
				</span>
			</li>
		</ul>

	</div>


	<div class="clearfix"></div>
	<br>

	
	<div class="col-sm-6">
		<span><strong>Pages</strong></span>

		<ul id="pagesTree">
			{%- for key, value in page_objects.items() recursive %}
				{%- if value is mapping -%}
					<li class="tree-element branch" data-branch-name="{{key}}">
						<a href="#">{{key}}</a>
						<span class="pull-right tree-element-buttons">
							<button><i class="glyphicon glyphicon-edit"></i></button>
			    			<button><i class="glyphicon glyphicon-copy"></i></button>
			    			<button><i class="glyphicon glyphicon-remove"></i></button>
			    		</span>
			        	<ul>{{ loop(value.items()) }}
							<li>
				        		<span class="new-element-form" style="display: none;">
									<input class='new-element-input new-page-object' type='text' onblur="addElement(event);" onkeyup="if(event.keyCode==13){addElement(event)}">
								</span>
								<span class="display-new-element-link">
									<i class="glyphicon glyphicon-plus-sign"></i>
									<a href="#" onclick="displayNewElementForm(this)"> Add New</a>
								</span>
							</li>
			        	</ul>
			        </li>
			    {%- else %}
			    	<li class="tree-element" data-leaf-name="{{key.0}}">
			    		<a href="/p/{{project}}/page/{{key.1}}/">{{ key.0 }}</a>
			    		<span class="pull-right tree-element-buttons">
			    			<button><i class="glyphicon glyphicon-edit"></i></button>
			    			<button><i class="glyphicon glyphicon-copy"></i></button>
			    			<button onclick="removeTreeElement(this)"><i class="glyphicon glyphicon-remove"></i></button>
			    		</span>
			    	</li>
			    {%- endif %}
			{%- endfor %}
			<li>
				<span class="new-element-form" style="display: none;">
					<input class='new-element-input new-page-object' type='text' onblur="addElement(event);" onkeyup="if(event.keyCode==13){addElement(event)}">
				</span>
				<span class="display-new-element-link">
					<i class="glyphicon glyphicon-plus-sign"></i>
					<a href="#" onclick="displayNewElementForm(this)"> Add New</a>
				</span>
			</li>
		</ul>

	</div>


</div>
</div>

    <!--Jquery UI (for accordion -->
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui/jquery-ui.css') }}"> -->
    <!-- <script src="{{ url_for('static', filename='js/jquery-ui/jquery-ui.js') }}"></script> -->

    <script src="{{ url_for('static', filename='js/treeview.js') }}"></script>

    <script src="{{ url_for('static', filename='js/project.js') }}"></script>

    <script>
    	var project = '{{project}}';
    </script>

{% endblock %}