{% extends "layout.html" %}

{% block head %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/project.css') }}">
	{{ super() }}
{% endblock %} 

{% block content %}

<div class="row">
	<div class="col-md-10 col-md-offset-1">

	<h3>{{project}}</h3>

	<div class="col-sm-6">

		<span><strong>Test Cases</strong></span>
		<ul id="testCasesTree">
		
			{%- for key, value in test_cases.items() recursive %}
				
				{%- if value is mapping -%}
					<li>
						<a href="#">{{key}}</a>
			        	<ul>{{ loop(value.items()) }}
			        		<!-- <li><i class="glyphicon glyphicon-plus-sign"></i><a href="#" onclick="startAddNewTestCase(this)"> Add New</a></li> -->
			        		<li>
				        		<span class="new-element-form" style="display: none;">
									<input class='new-element-input new-test-case' type='text' onblur="addElement(event);" onkeyup="if(event.keyCode==13){addElement(event)}">
								</span>
								<span class="display-new-element-link">
									<i class="glyphicon glyphicon-plus-sign"></i>
									<a href="#" onclick="displayNewElementForm(this)"> Add New</a>
								</span>
							</li>
			        	</ul>
			        </li>
			    {%- else %}
			    	<li><a href="/p/{{project}}/tc/{{key.1}}/">{{ key.0 }}</a> <!-- <span class="icon-arrow-right pull-right"><i class="glyphicon glyphicon-remove"></i></span><span class="icon-arrow-right pull-right"><i class="glyphicon glyphicon-share"></i></span> --></li>
			    {%- endif %}
			{%- endfor %}
			<li>
				<span class="new-element-form" style="display: none;">
					<input class='new-element-input new-test-case' type='text' onblur="addElement(event);" onkeyup="if(event.keyCode==13){addElement(event)}">
				</span>
				<span class="display-new-element-link">
					<i class="glyphicon glyphicon-plus-sign"></i>
					<a href="#" onclick="displayNewElementForm(this)"> Add New</a>
				</span>
			</li>
		</ul>

	</div>

	<div class="col-sm-6">
		<span><strong>Pages</strong></span>

		<ul id="pagesTree">
			{%- for key, value in page_objects.items() recursive %}
				{%- if value is mapping -%}
					<li>
						<a href="#">{{key}}</a>
			        	<ul>{{ loop(value.items()) }}
			        		<!-- <li><i class="glyphicon glyphicon-plus-sign"></i><a href="#" onclick="startAddNewPageObject(this)"> Add New</a></li> -->
							<li>
				        		<span class="new-element-form" style="display: none;">
									<input class='new-element-input new-page-object' type='text' onblur="addElement(event);" onkeyup="if(event.keyCode==13){addElement(event)}">
								</span>
								<span class="display-new-element-link">
									<i class="glyphicon glyphicon-plus-sign"></i>
									<a href="#" onclick="displayNewElementForm(this)"> Add New</a>
								</span>
							</li>
			        	</ul>
			        </li>
			    {%- else %}
			    	<li><a href="/p/{{project}}/page/{{key.1}}/">{{ key.0 }}</a></li>
			    {%- endif %}
			{%- endfor %}
			<li>
				<span class="new-element-form" style="display: none;">
					<input class='new-element-input new-page-object' type='text' onblur="addElement(event);" onkeyup="if(event.keyCode==13){addElement(event)}">
				</span>
				<span class="display-new-element-link">
					<i class="glyphicon glyphicon-plus-sign"></i>
					<a href="#" onclick="displayNewElementForm(this)"> Add New</a>
				</span>
				<!-- <i class="glyphicon glyphicon-plus-sign"></i><a href="#" onclick="startAddNewPageObject(this)"> Add New</a></li> -->
		</ul>

	</div>


	<div class="col-sm-6">
		<span><strong>Test Suites</strong></span>


	</div>


	<div class="modal fade" id="errorModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Error</h4>
      </div>
      <div class="modal-body">
        <ul id="errorList">
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default dismiss-modal" data-dismiss="modal">Continue</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


</div>
</div>

    <!--Jquery UI (for accordion -->
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui/jquery-ui.css') }}"> -->
    <!-- <script src="{{ url_for('static', filename='js/jquery-ui/jquery-ui.js') }}"></script> -->

    <script src="{{ url_for('static', filename='js/treeview.js') }}"></script>

    <script src="{{ url_for('static', filename='js/project.js') }}"></script>

    <script>
    	var project = '{{project}}';
    </script>

{% endblock %}