{% extends "layout.html" %} 

{% block head_declarations %} 

<link rel="stylesheet" href="{{ url_for('static', filename='js/external/code_mirror/codemirror.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/json_code_editor.css') }}">

{% endblock %} 

{% block content %}



<div class="col-lg-8 col-lg-offset-2">

    <div class="col-sm-6 header-col">
        <h3 id="pageObjectName">
            <small>
                <a href="/p/{{project}}/" class="link-without-underline">
                    <span class="glyphicon glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                </a>
            </small>
            {% if project %}{{project|replace("_", " ")}} - {% endif %} settings</h3>
    </div>
        
    <div class="col-sm-6 text-right header-col" style="padding-top: 20px">
        <button id="save" class="btn btn-default btn-sm" onclick="saveSettings();"><span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> Save</button>
    </div>

    <div class="clearfix"></div>

        <div class="codeEditorContainer" id="settingsContainer" style="display: none">
            <h5>Project Settings</h5>
        </div>

        <div class="codeEditorContainer" id="globalSettingsContainer">
            <h5>Global Settings</h5>
        </div>

        <div style="margin-top: 15px"><i class="fa fa-info-circle" aria-hidden="true"></i> Project settings override global settings.</div>
        <br>
</div>


<script src="{{ url_for('static', filename='js/external/code_mirror/codemirror.js') }}"></script>
<script src="{{ url_for('static', filename='js/external/code_mirror/javascript.js') }}"></script>
<script src="{{ url_for('static', filename='js/settings.js') }}"></script>
<script>
    var project = {{project|tojson}};
    var settingsCode = {{settings|tojson}};
    var globalSettingsCode = {{global_settings|tojson}};
</script>

{% endblock %}