{% extends "layout.html" %} 

{% block head_declarations %} 

<link rel="stylesheet" href="{{ url_for('static', filename='css/suite.css') }}">

{% endblock %} 

{% block content %}

<div>
	
    <div class="col-sm-8 col-sm-offset-2" id="datosContainerContainer">

        <div class="col-sm-6 header-col">
            <h3 id="pageObjectName">
                <small>
                    <a href="/p/{{project}}/" class="link-without-underline">
                        <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                    </a>
                </small>
            {{suite}}</h3>
        </div>

        <div class="col-sm-6 text-right header-col" style="padding-top: 20px">
            <button id="runTest" class="btn btn-default btn-sm" onclick="runSuite()"><span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span> Run Suite</button>
            <button id="save" class="btn btn-default btn-sm" onclick="saveTestSuite();"><span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> Save</button>
        </div>

        <div class="clearfix"></div>

        <h4>Settings</h4>

        <form class="form-horizontal">
        <div class="col-sm-12">
            <div class="input-group form-group" style="width: 100%;">
                <label for="browsers" class="col-sm-3 control-label">Browsers</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="browsers" value="{{ browsers if browsers else ''}}" placeholder="list of browsers">
                </div>
            </div> 
        </div>
        <div class="col-sm-12">

            <div class="input-group form-group">
            <label for="workers" class="col-sm-3 control-label">Workers</label>
                <div class="col-sm-9">
                    <input type="number" class="form-control" id="workers" value="{{worker_amount}}" placeholder="Amount of workers">
                </div> 
            </div>
        </div>

        </form>
        
        <div class="clearfix"></div> 
        <br>       
        <ul id="suiteTests" class="tree" style="padding-left: 15px">
            <input type="checkbox" id="allTestCasesCheckbox" class="select-testcase-checkbox" style="margin-top: 0px !important;">
            <h4> Test Cases</h4>
            <ul id="testCasesTree">
                 {%- for elem in all_test_cases recursive %}
                    <li>
                        {%- if elem.type == 'directory' -%}
                           <input type="checkbox" name="checkbox" class="select-testcase-checkbox">
                            <a href="#" class="branch-name">{{ elem.name }}</a>
                            <ul>{{ loop(elem.sub_elements) }}</ul>
                        {%- else %}
                            <label><input type="checkbox" name="checkbox" class="select-testcase-checkbox"><span class="node-name">{{ elem.name }}</span></label>
                        {%- endif %}
                    </li>
                {%- endfor %}
            </ul>

        <div class="clearfix"></div>

    </div>

</div>

<script src="{{ url_for('static', filename='js/jquery-autocomplete/jquery.autocomplete.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/treeview.js') }}"></script>
<script src="{{ url_for('static', filename='js/suite.js') }}"></script>
<script>
    var project = "{{project}}";
    var suite = "{{suite}}";
    var selectedTests = {{selected_tests|tojson}};
</script>

{% endblock %}