{% extends "layout.html" %} 

{% block title %}Golem : {{project|capitalize}} : {{suite}}{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/suite.css') }}">
{% endblock %} 

{% block content %}
<div>
    <div class="col-md-8 col-md-offset-2" id="dataContainerContainer">
        <div class="header-col" style="width: calc(100% - 170px)">
            <h3 id="suiteName" class="element-name"><span>{{suite}}</span></h3>
        </div>
        <div class="header-col header-col-right">
            {% if g.user.project_weight(project) >= 30 %}
            <button id="runTest" class="btn btn-default btn-sm" onclick="Suite.run()"><span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span> Run Suite</button>
            <button id="save" class="btn btn-default btn-sm" onclick="Suite.save();"><span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> Save</button>
            {% endif %}
        </div>
        <div class="clearfix"></div>
        <h4>Settings</h4>
        <form class="form-horizontal">
        <div>
            <div class="col-sm-2 control-label no-padding-left" style="text-align: left; font-weight: bold">Browsers</div>
            <div class="form-group col-xs-10" style="">
                <input type="text" class="form-control" id="browsers" value="{{ ', '.join(browsers) + ', ' if browsers else ''}}" placeholder="browsers">
            </div>
        </div>
        <div>
            <div class="col-sm-2 control-label no-padding-left" style="text-align: left; font-weight: bold">Environments</div>
            <div class="form-group col-xs-10" style="">
                <input type="text" class="form-control" id="environments" value="{{ ', '.join(environments) + ', ' if environments else ''}}" placeholder="environments">
            </div> 
        </div>
        <div>
            <div class="col-sm-2 control-label no-padding-left" style="text-align: left; font-weight: bold">Tags</div>
            <div class="form-group col-xs-10" style="">
                <input type="text" class="form-control" id="tags" value="{{ ', '.join(tags) + ', ' if tags else ''}}" placeholder="tags">
            </div>
        </div>
        <div>
            <div for="processes" class="col-sm-2 control-label no-padding-left" style="text-align: left; font-weight: bold">Processes</div>
            <div class="form-group col-sm-3">
                <input type="number" class="form-control" id="processes" value="{{processes}}" placeholder="processes">
            </div>
        </div>
        </form>
        <div class="clearfix"></div> 
        <br>
        <li id="suiteTests" class="tree" data-type="folder" full-name="">
            <input type="checkbox" id="allTestCasesCheckbox" class="select-testcase-checkbox" style="margin-top: 0px !important;">
            <h4> Test Cases <small id="testCount"></small></h4>
            <ul id="treeRoot">
                 {%- for elem in all_test_cases recursive %}
                    {%- if elem.type == 'directory' -%}
                        <li data-type="folder" full-name="{{elem.dot_path}}">
                            <input type="checkbox" name="checkbox" class="select-testcase-checkbox">
                            <a href="#" class="branch-name">{{ elem.name }}</a>
                            <ul>{{ loop(elem.sub_elements) }}</ul>
                        </li>
                    {%- else %}
                        <li data-type="test" full-name="{{elem.dot_path}}">
                            <label full-name="{{elem.dot_path}}">
                                <input type="checkbox" name="checkbox" class="select-testcase-checkbox test-checkbox">
                                <span class="node-name">{{ elem.name }}</span>
                            </label>
                        </li>
                    {%- endif %}
                {%- endfor %}
            </ul>
        </li>
    </div>
</div>

<script src="{{ url_for('static', filename='js/external/jquery.autocomplete.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/external/treeview.js') }}"></script>
<script src="{{ url_for('static', filename='js/suite.js') }}"></script>
<script>
    let suite = "{{suite}}";
    let selectedTests = {{selected_tests|tojson}};
</script>
{% endblock %}