{% extends "layout.html" %} 

{% block head_declarations %} 

<link rel="stylesheet" href="{{ url_for('static', filename='css/test_case.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/test_case_common.css') }}">

{% endblock %} 

{% block content %}
<div>
    <div>
        <div class="col-sm-8 col-md-9 header-col">
            <h3 id="testNameContainer">
                <div id="backButton">
                    <small>
                        <a href="/p/{{project}}/" class="link-without-underline">
                            <span class="glyphicon glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                        </a>
                    </small>
                </div>
                <div id="testName" onclick="header.startEditTestName()">
                    {{full_test_case_name}}
                </div>
                <div id="testNameInput" style="display: none">
                    <input type="text">
                </div>
            </h3>
        </div>
        <div class="col-sm-4 col-md-3 text-right header-col" style="padding-top: 20px">
            <button id="runTest" class="btn btn-default btn-sm" onclick="testRunner.runTestCase()"><span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span> Run Test</button>

            <button id="loadCodeButton" class="btn btn-default btn-sm" onclick="loadCodeView()"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>Code<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></button>
            
            <button id="save" class="btn btn-default btn-sm" onclick="saveTestCase();"><span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> Save</button>
        </div>
    </div>

    <div class="clearfix"></div>

    <div id="descriptionPageObjectsContainer" style="display: table; width: 100%">
        <div class="col-sm-6 same-heigth-col gray-1-background" id="descriptionContainer" style="border: 1px solid #e0e0e0;">
            <h4>Description</h4>
            <textarea id="description" class="form-control" rows="3">{{test_case_contents.description }}</textarea>
        </div>

        <div class="col-sm-6 same-heigth-col gray-1-background" id="pageObjectsContainerContainer" style="border-top: 1px solid #e0e0e0; border-right: 1px solid #e0e0e0; border-bottom: 1px solid #e0e0e0;">

            <h4>Pages</h4>
            <div id="pageObjectsContainer">
                <div id="pageObjects">
                    {% for page in test_case_contents.pages %}  
                    <div class="input-group">
                        <input type="text" class="form-control custom-input page-objects-input page-objects-autocomplete" value="{{ page }}">
                        <span class="input-group-btn input-middle-btn">
                            <button class="btn btn-default" type="button" onclick="openPageObjectInNewWindow(this)"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></button>
                        </span>
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" onclick="deletePageObject(this)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                        </span>
                    </div>
                    {% endfor %}
                    {% if not test_case_contents.pages %}
                    <div class="input-group">
                        <input type="text" class="form-control custom-input page-objects-input page-objects-autocomplete" value="{{ po }}">
                        <span class="input-group-btn input-middle-btn">
                            <button class="btn btn-default" type="button" onclick="openPageObjectInNewWindow(this)"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></button>
                        </span>
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" onclick="deletePageObject(this)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                        </span>
                    </div>
                    {% endif %}
                </div>
                <button class="btn btn-default btn-sm" onclick="addPOInput();">Add Page</button>
            </div>

        </div>

    </div>

    <div class="clearfix"></div>

    <div class="col-sm-12 gray-1-background" id="stepsContainerContainer" style="border-left: 1px solid #e0e0e0; border-right: 1px solid #e0e0e0; border-bottom: 1px solid #e0e0e0;">

        <!-- setup -->
        {% if not test_case_contents.steps.setup %}
        <div id="showSetupLink" class="col-sm-12 text-center" style="padding-top: 10px">
            <a href="javascript:void(0)" class="text-muted link-without-underline" onclick="showSetupSteps()">Show Setup</a>
        </div>
        {% endif %}

        <div id="setupSteps" class="clearfix" {% if not test_case_contents.steps.setup %}style="display: none"{% endif %}>

            <div class="steps" style="">

                <h4>Setup</h4>

                {% if test_case_contents.steps.setup %}

                    {% for step in test_case_contents.steps.setup %}
                        <div class='step'>
                            <div class="step-numbering">{{loop.index}}</div>
                            <div class='col-sm-3 step-input-container step-first-input-container'>
                                <div class='input-group'>
                                    <input type='text' class='form-control step-first-input'
                                placeholder='action' onchange='' value="{{step.method_name}}">
                                </div>
                            </div>
                            <div class="params col-sm-6">
                                {% for parameter in step.parameters %}
                                    <div class='col-sm-6 step-input-container parameter-container'>
                                        <div class='input-group'>
                                            <input type='text' class='form-control parameter-input' placeholder='' value='{{parameter}}'>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="step-remove-icon">
                                <a href="javascript:void(0)" onclick="deleteStep(this);">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </a>
                            </div>
                        </div>
                    {% endfor %}

                {% else %}
                    <div class='step'>
                        <div class="step-numbering">1</div>
                        <div class='col-sm-3 step-input-container step-first-input-container'>
                            <div class='input-group'>
                                <input type='text' class='form-control step-first-input' placeholder='action' onchange='' value="">
                            </div>
                        </div>
                        <div class="params col-sm-6">
                        </div>
                        <div class="step-remove-icon">
                            <a href="javascript:void(0)" onclick="deleteStep(this);">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </a>
                        </div>
                    </div>
                {% endif %}
            </div>
            
            <div class="clearfix"></div>
            <button class="btn btn-default btn-sm" style="margin-left: 21px;" onclick="addFirstStepInput('setup');"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Step</button>

        </div>
        
        <!-- test -->
        <h4>Test</h4>
        <div id="testSteps">
            <div class="steps">
            {% if test_case_contents.steps.test %}
                {% for step in test_case_contents.steps.test %}
                <div class='step'>
                    <div class="step-numbering">{{loop.index}}</div>
                    <div class='col-sm-3 step-input-container step-first-input-container'>
                        <div class='input-group'>
                            <input type='text' class='form-control step-first-input'
                            placeholder='action' onchange='' value="{{step.method_name}}">
                        </div>
                    </div>

                    <div class="params col-sm-6">

                        {% for parameter in step.parameters %}
                        <div class='col-sm-6 step-input-container parameter-container'>
                            <div class='input-group'>
                                <input type='text' class='form-control parameter-input' placeholder='' value='{{parameter}}'>
                                <!-- {% if parameter.type == 'value' %}
                                    <input type='text' class='form-control parameter-input'
                                placeholder='' value='{{parameter}}'>
                                {% endif %} -->
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    <div class="step-remove-icon">
                        <a href="javascript:void(0)" onclick="deleteStep(this);">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
                {% endfor %}
            {% else %}
            <div class='step'>
                <div class="step-numbering">1</div>
                <div class='col-sm-3 step-input-container step-first-input-container'>
                    <div class='input-group'>
                        <input type='text' class='form-control step-first-input'
                        placeholder='action' onchange='' value="">
                    </div>
                </div>
                <div class="params col-sm-6">
                </div>
                <div class="step-remove-icon">
                    <a href="javascript:void(0)" onclick="deleteStep(this);">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
            {% endif %}
            </div>
            <div class="clearfix"></div>
            <button class="btn btn-default btn-sm" style="margin-left: 21px;" onclick="addFirstStepInput('test');">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Step
            </button>
        </div>

        <!-- teardown -->
        <div id="showTeardownLink" class="col-sm-12 text-center" style="padding-top: 10px">
            <a href="javascript:void(0)" class="text-muted link-without-underline" onclick="showTeardownSteps()">Show Teardown</a>
        </div>
        <div id="teardownSteps" class="clearfix" style="display: none">
            <div class="steps">
                <h4>Teardown</h4>
                {% if test_case_contents.steps.teardown %}

                    {% for step in test_case_contents.steps.teardown %}
                    <div class='step'>
                        <div class="step-numbering">{{loop.index}}</div>
                        <div class='col-sm-3 step-input-container step-first-input-container'>
                            <div class='input-group'>
                                <input type='text' class='form-control step-first-input'
                                placeholder='action' onchange='' value="{{step.method_name}}">
                            </div>
                        </div>

                        <div class="params col-sm-6">

                            {% for parameter in step.parameters %}
                            <div class='col-sm-6 step-input-container parameter-container'>
                                <div class='input-group'>
                                    <input type='text' class='form-control parameter-input'
                                    placeholder='' value='{{ parameter }}'>
                                </div>
                            </div>
                            {% endfor %}
                        </div>

                        <div class="step-remove-icon">
                            <a href="javascript:void(0)" onclick="deleteStep(this);">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </a>
                        </div>

                    </div>

                    {% endfor %}
                {% else %}
                    <div class='step'>
                        <div class="step-numbering">1</div>
                        <div class='col-sm-3 step-input-container step-first-input-container'>
                            <div class='input-group'>
                                <input type='text' class='form-control step-first-input' placeholder='action' onchange='' value="">
                            </div>
                        </div>
                        <div class="params col-sm-6">
                        </div>
                        <div class="step-remove-icon">
                            <a href="javascript:void(0)" onclick="deleteStep(this);">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </a>
                        </div>
                    </div>
                {% endif %}
            </div>

            <div class="clearfix"></div>
            <button class="btn btn-default btn-sm" style="margin-left: 21px;" onclick="addFirstStepInput('teardown');"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Step</button>
        </div>

    </div>

    <div class="clearfix"></div>

    <div class="col-sm-12 gray-1-background" id="datosContainerContainer" style="border-left: 1px solid #e0e0e0; border-right: 1px solid #e0e0e0; border-bottom: 1px solid #e0e0e0;">

        <h4>Data</h4>
        <div id="datosContainer">

            <div id="datos">
                <table class="table table-bordered table-condensed" id="dataTable"> 
                    {% if test_data[0] %}
                    <thead> 
                        <tr> 
                            <th class="index">#</th> 
                            {% for key, val in test_data[0].items() %}
                            <th>
                                <div class="input-group">
                                    <input class="form-control" type="text" value="{{key}}" onchange="dataTableHeaderInputChange()">
                                </div>
                            </th>
                            {% endfor %}
                            <th>
                                <div class="input-group">
                                    <input class="form-control" type="text" onchange="dataTableHeaderInputChange()">
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in test_data %}
                        <tr>
                            <th scope="row" class="index">{{loop.index}}</th> 
                            {% for key, value in row.items() %}
                            <td>
                                <div class="input-group">
                                    <input class="form-control" type="text" value="{{value}}">
                                </div>
                            </td>
                            {% endfor %}
                            <td><div class="input-group"><input class="form-control" type="text"></div>
                            </td> 
                        </tr>
                        {% endfor %}
                        <tr>
                            <th scope="row" class="index">{{test_data|length + 1}}</th> 
                            {% for item in test_data[0].items() %}
                            <td><div class="input-group"><input class="form-control" type="text"></div>
                            </td> 
                            {% endfor %}
                            <td><div class="input-group"><input class="form-control" type="text"></div>
                            </td> 
                        </tr>
                    </tbody>

                    {% else %}
                    <thead> 
                        <tr> 
                            <th class="index">#</th> 
                            {% for i in range(4) %}
                            <th>
                                <div class="input-group">
                                    <input class="form-control" type="text" onchange="dataTableHeaderInputChange()">
                                </div>
                            </th>
                            {% endfor %}
                        </tr> 
                    </thead> 
                    <tbody>
                        {% for i in range(3) %}
                        <tr> 
                            <th scope="row" class="index">{{i+1}}</th>
                            {% for j in range(4) %}
                            <td>
                                <div class="input-group">
                                    <input class="form-control" type="text">
                                </div>
                            </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>     
                    {% endif %}

                </table>

            </div>

            <div style="display: table-cell; position: relative;">
                <a href="javascript:void(0)" onclick="dataTable.addColumnToDataTable();">
                    <img src="{{ url_for('static', filename='img/plus_sign.png') }}" class="add-new-icon" style="margin-left: 5px;">
                </a>
            </div>

            <div class="text-right" style="width: 100%">
                <a href="javascript:void(0)" onclick="dataTable.addRowToDataTable();">
                    <img src="{{ url_for('static', filename='img/plus_sign.png') }}" class="add-new-icon" style="margin-right: 30px;">
                </a>
            </div>
        </div>

    </div>

</div>


<!-- execution modal -->
<div class="modal fade" id="testRunModal" tabindex="-1" role="dialog" style="top: 15%">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Running Test Case</h4>
      </div>
      <div class="modal-body">

        <div id="testResultContainer">
            <div id="testResultLogs">
            </div>
            <div id="testResults"></div>
        </div>

        <div id="loaderContainer" class="text-center">
            <label class="loader"></label>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" onclick="testRunner.runTestCase()">Re-run Test</button>
        <button type="button" class="btn btn-default dismiss-modal" data-dismiss="modal">Dismiss</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<script src="{{ url_for('static', filename='js/sortable/sortable.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-autocomplete/jquery.autocomplete.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/test_case.js') }}"></script>
<script src="{{ url_for('static', filename='js/test_case_common.js') }}"></script>
<script>
    var project = "{{project}}";
    var testCaseName = "{{test_case_name}}";
    var fullTestCaseName = "{{full_test_case_name}}";
</script>

{% endblock %}