
/*

gray 1  #fafafa
        #ededed
        #e0e0e0
        #d3d3d3
        #c7c7c7
        #b3b3b3
*/


.gray-1-background {
    background-color: #fafafa; 
}

.gray-2-background {
    background-color: #ededed; 
}

.gray-3-background {
    background-color: #e0e0e0; 
}

.gray-4-background {
    background-color: #d3d3d3; 
}

.gray-border-3 {
    border: 2px solid #e0e0e0;
}



.no-padding-left {
    padding-left: 0px;
}

.no-padding-right {
    padding-right: 0px;
}

.padding-right-7-5 {
    padding-right: 7.5px;
}

.padding-left-7-5 {
    padding-left: 7.5px;
}

.padding-right-15 {
    padding-right: 15px;
}

.padding-left-15 {
    padding-left: 15px;
}

.cursor-pointer {
    cursor: pointer;
}

.progress-bar.pending {
    background-color: #b3b3b3;
}



.last-execution-table td{
    padding-top: 3px !important;
    padding-bottom: 3px !important;
}

.no-margin-bottom {
    margin-bottom: 0px;
}


.flex-row {
    display: flex;
}

.progress {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0; 
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: #e2e2e2; 
    position: relative;
    height: 20px;
    margin-bottom: 0px;
    overflow: hidden;
    background-color: #f5f5f5;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}


.progress .progress-bar {
    -webkit-transition-property: width;
    -moz-transition-property: width;
    -o-transition-property: width;
    transition-property: width;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;

    background-image: none;
    background-image: none;
    background-image: none; 
    background-image: none;

    position: absolute;
    overflow: hidden;
    line-height: 20px;
}

.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    background-color: #428bca;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
    -webkit-transition: width 0.6s ease;
    transition: width 0.6s ease;
}

.progress-bar-danger {
    background-color: #d9534f;
}

.progress-bar-container{
    margin-bottom: 0px;
}


.header, .marketing, .footer {
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    border-bottom: 1px solid #e5e5e5;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header h3 {
    line-height: 40px;
    margin-bottom: 0;
    margin-top: 0;
}

.footer {
    border-top: 1px solid #e5e5e5;
    color: #777;
    padding-top: 19px;
}

@media (min-width: 768px) {
    .container {
        min-width: 100%;
    }
}

@media (min-width: 1170px) {
    .container {
        min-width: 1100px;
    }
}

.container-narrow > hr {
    margin: 30px 0;
}

@media screen and (min-width: 768px) {
    .header, .marketing, .footer {
        padding-left: 0;
        padding-right: 0;
    }

    .header {
        
    }

    .jumbotron {
        border-bottom: 0 none;
    }
}


.link-without-underline:hover, .link-without-underline:visited, .link-without-underline:focus {
    text-decoration: none;
    outline: none;
}

.autocomplete-suggestions {
    background-color: white;
    border-left: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    max-height: inherit !important;
}

.autocomplete-suggestion {
    padding: 2px 5px 2px 5px;
}

.autocomplete-suggestion:hover {
    cursor: pointer;
    background: lightgrey;
}

.header-col{
    padding-left: 0px;
    padding-right: 0px;
}


.loader {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.no-pad-left {
    padding-left: 0px;
}

.no-pad-right {
    padding-right: 0px;
}

.padding-left-5 {
    padding-left: 5px;
}

.padding-right-5 {
    padding-right: 5px;
}



.fail-icon {
  color: red;
}


.pass-icon {
  color: green;
}

.no-margin-top {
    margin-top: 0px;
}