



.onoffswitch {
    display: inline-block;
}

#tc_toolbar {
    height: 40px;
}


.htCore tbody tr:first-child{
	padding: 10px;
	text-align: center;
	line-height: 21px;
	height: 25px;
	font-size: 14px;
	vertical-align: top;

}

.htCore tbody tr:first-child td{
	padding-top: 2px;
	background-color: #EEE;

}


.htCore tbody tr td{
	/*this is to hide fist column*/
	/*border-left: 1px solid #ccc;
	border-right: 0px;*/
}

tbody tr td:last-child{
	/*border-right: 1px solid #ccc;*/
}


body {
}

.header, .marketing, .footer {
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    border-bottom: 1px solid #e5e5e5;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header h3 {
    line-height: 40px;
    margin-bottom: 0;
    margin-top: 0;
}

.footer {
    border-top: 1px solid #e5e5e5;
    color: #777;
    padding-top: 19px;
}

@media (min-width: 768px) {
.container {
    max-width: 730px;
}

@media (min-width: 1170px) {
    .container {
        max-width: 1170px;
    }
}

.container-narrow > hr {
    margin: 30px 0;
}

.jumbotron {
    border-bottom: 1px solid #e5e5e5;
    text-align: center;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

@media screen and (min-width: 768px) {
    .header, .marketing, .footer {
        padding-left: 0;
        padding-right: 0;
    }

    .header {
        
    }

    .jumbotron {
        border-bottom: 0 none;
    }
}


.link-without-underline:hover, .link-without-underline:visited {
    text-decoration: none;
}

.autocomplete-suggestions {
    background-color: white;
    border-left: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
}

.autocomplete-suggestions {
    background-color: white;
    border-left: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
}

.autocomplete-suggestion {
    cursor: pointer;
}