


.element {
	margin-bottom: 10px;
	width: 100%;
}

.po-input-group {
	width: 100%;
}

.function {
    margin-bottom: 10px;
}

.no-border-radius {
    border-radius: 0px;
}

pre {
    margin-bottom: 0px;
}

.step-remove-icon {
    float: right;
    height: 34px;
    line-height: 34px;
    width: 16px;
}

.step-remove-icon a {
    color: black;
}