
.project-container { 
	background-color: #f5f5f5;
	border: 1px solid #e4e4e4;
	margin-bottom: 15px;
	padding-top: 15px;
	border-radius: 3px
}

.widget {
	border-width: 1px;
    border-style: solid;
    margin-bottom: 15px;
    background-color: #f9f9f9;
    border-color: #d3d3d3;
    border-radius: 3px
}

.widget .widget-header {
    padding: 0 10px;
    height: 35px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #d3d3d3;
    background-color: #eee;
}

.widget .widget-header h3 {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    font-size: 1.1em;
    margin: 0;
    line-height: 35px;
    float: left;
}

.report-container {
	background-color: #f9f9f9;
	border: 1px solid #e4e4e4;
	margin-bottom: 15px;
	padding-top: 15px;
	border-radius: 3px
}

.table-container {
    border-width: 1px;
    border-style: solid;
    margin-bottom: 15px;
    background-color: white;
    border-color: #d3d3d3;
    border-radius: 3px
}

.table-content {
	padding: 10px !important;
}

.chart-inner-container {
    height: 212px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#detailTable {
    border-collapse: inherit;
}

#detailTable thead th {
    border-bottom: 1px solid #ddd;
}

#generalTable td, #detailTable td,
#generalTable th, #detailTable th {
    padding: 4px 6px !important;
}

.step-screenshot {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    border: 1px solid lightgray;
}

/* Table filter dropdown */

.filter-table-dropdown .dropdown-menu {
    margin-top: 0px;
    border: 1px solid #ccc;
    white-space: nowrap;
}

.filter-table-dropdown .dropdown-menu form li {
    padding: 2px 10px;
}

.filter-table-dropdown div.checkbox {
    margin: 0px;
}

.table-responsive {
    overflow-x: visible; 
}

#content {
    overflow-x: visible;
}

#detailTable .funnel-icon {
    color: gray;
}

#detailTable th.filtered .funnel-icon {
    color: black;
}

#detailTable td.tc-module {
    max-width: 300px;
    word-break: break-all
}

#detailTable td.tc-name {
    max-width: 400px;
    word-break: break-all
}

#detailTable td.set-name {
    text-overflow: ellipsis;
    max-width: 250px;
    overflow: hidden;
}

.spinner-container {
    width: 18px;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

#detailTable tr.test-detail-row td{
    padding: 0px !important;
    border-top: 0px;
}

#detailTable div.test-detail {
    padding: 5px 15px 15px 15px;
    margin-left: 0px;
    margin-right: 0px;
    transition-duration: 0.2s
}

#detailTable div.test-detail.collapse.in{
    display: flex;
}

.test-detail-box {
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    border-radius: 3px;
    padding: 10px 15px;
    word-break: break-word;
}

.test-detail-box-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.test-detail-box-title > a{
    font-weight: normal;
}

#detailTable div.test-detail .logs {
    margin-right: 7px;
    width: calc(50% - 7px);
}

#detailTable .info-log, #detailTable .debug-log {
    font-family: "monospace", Lucida Console;
}

.test-detail-row .logs a.active {
    color: black;
}

#detailTable .detail-right-column {
    margin-left: 7px;
    width: calc(50% - 7px);
    padding-left: 0px;
    padding-right: 0px;
}

#detailTable div.test-detail .step-list {
}

#detailTable div.test-detail .step-list ol {
    margin-left: 15px;
    padding-left: 0px;
    margin-bottom: 0px;
}

#detailTable .detail-description {
    margin-bottom: 10px;
}

/* Single Test Report */
.test-report-box {
    border: 1px solid #e4e4e4;
    margin-bottom: 15px;
    background-color: #f9f9f9;
    border-radius: 3px;
    padding: 15px 30px
}

label {
    min-width: 120px
}

.test-report-log {
    font-family: monospace;
    font-size: 14px;
    word-break: break-all
}

#detailTable .set-name {
    display: none
}

#detailTable.set-name-displayed .set-name {
    display: table-cell
}

