

/*.wrapper {
	margin-bottom: 0px;
}*/


/*.page-title {
	margin-top: 5px !important;
	margin-bottom: 30px !important;
}*/
/*
.project-name {
	margin-top: 0px;
}*/

.project-container { 
	background-color: #f5f5f5;
	border: 1px solid #e4e4e4;
	margin-bottom: 15px;
	padding-top: 15px;
    /*padding-bottom: 15px*/
}


.widget {
	border-width: 1px;
    border-style: solid;
    margin-bottom: 15px;
    background-color: #f9f9f9;
    border-color: #d3d3d3;
}

.widget.widget-table {
	overflow: hidden;
}

.widget .widget-header {
    padding: 0 10px;
    height: 35px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #d3d3d3;
    background-color: #eee;
}

.widget .widget-header h3 {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    font-family: "latobold";
    font-size: 1.1em;
    margin: 0;
    line-height: 35px;
    float: left;
}

/*.progress {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0; 
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: #e2e2e2; 
    position: relative;
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}


.progress .progress-bar {
    -webkit-transition-property: width;
    -moz-transition-property: width;
    -o-transition-property: width;
    transition-property: width;
    -webkit-transition-duration: 2s;
    -moz-transition-duration: 2s;
    -o-transition-duration: 2s;
    transition-duration: 2s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;

    background-image: none;
    background-image: none;
    background-image: none; 
    background-image: none;

    position: absolute;
    overflow: hidden;
    line-height: 20px;
}

.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    background-color: #428bca;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
    -webkit-transition: width 0.6s ease;
    transition: width 0.6s ease;
}

.progress-bar-danger {
    background-color: #d9534f;
}

.progress-bar-container{
	margin-bottom: 0px;
}*/

.table-content{
	padding: 10px !important;
}

.chart-container {
    /*height: 212px;*/
}

.chart-inner-container {
    /*height: 212px;*/
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.hand-icon {
	cursor: pointer;
}

.modal-dialog {
	width: 90%;
	padding-top: 0px;
}

#expandedScreenshot {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.modal-header .close {
	font-size: 28px;
	margin-top: -12px;
}

.modal-header {
	padding-right: 10px;
}

.link-without-underline, .link-without-underline:hover, .link-without-underline:visited, .link-without-underline:focus {
    text-decoration: none;
    outline: none;
    color: inherit;
}

