
.project-container { 
	background-color: #f5f5f5;
	border: 1px solid #e4e4e4;
	margin-bottom: 15px;
	padding-top: 15px;
}

.widget {
	border-width: 1px;
    border-style: solid;
    margin-bottom: 15px;
    background-color: #f9f9f9;
    border-color: #d3d3d3;
}

.widget.widget-table {
	/*overflow: hidden;*/
}

.widget .widget-header {
    padding: 0 10px;
    height: 35px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #d3d3d3;
    background-color: #eee;
}

.widget .widget-header h3 {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    font-size: 1.1em;
    margin: 0;
    line-height: 35px;
    float: left;
}

.table-content{
	padding: 10px !important;
}

.chart-inner-container {
    height: 212px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}


#generalTable td,
#detailTable td {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

.step-screenshot {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    border: 1px solid lightgray;
}


/* Table filter dropdown */

.filter-table-dropdown .dropdown-menu {
    margin-top: 0px;
    border: 1px solid #ccc;
    white-space: nowrap;
}

.filter-table-dropdown .dropdown-menu form li {
    padding: 2px 10px;
}

.filter-table-dropdown div.checkbox {
    margin: 0px;
}

.table-responsive {
    overflow-x: visible; 
}

#content {
    overflow-x: visible;
}


#detailTable .funnel-icon {
    color: gray;
}

#detailTable th.filtered .funnel-icon {
    color: black;
}