

/*.wrapper {
	margin-bottom: 0px;
}*/


/*.page-title {
	margin-top: 5px !important;
	margin-bottom: 30px !important;
}*/
/*
.project-name {
	margin-top: 0px;
}*/

.project-container { 
	background-color: #f5f5f5;
	border: 1px solid #e4e4e4;
	margin-bottom: 15px;
	padding-top: 15px;
    /*padding-bottom: 15px*/
}


.widget {
	border-width: 1px;
    border-style: solid;
    margin-bottom: 15px;
    background-color: #f9f9f9;
    border-color: #d3d3d3;
}

.widget.widget-table {
	overflow: hidden;
}

.widget .widget-header {
    padding: 0 10px;
    height: 35px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #d3d3d3;
    background-color: #eee;
}

.widget .widget-header h3 {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    /*font-family: "latobold";*/
    font-size: 1.1em;
    margin: 0;
    line-height: 35px;
    float: left;
}

.table-content{
	padding: 10px !important;
}

.chart-container {
    /*height: 212px;*/
}

.chart-inner-container {
    height: 212px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.hand-icon {
	cursor: pointer;
}

/*.modal-dialog.screenshot-modal-dialog {
	width: 90%;
	padding-top: 0px;
}

#expandedScreenshot {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.screenshot-modal .modal-header .close {
	font-size: 28px;
	margin-top: -12px;
}

.screenshot-modal .modal-header {
	padding-right: 10px;
}*/

.link-without-underline, .link-without-underline:hover, .link-without-underline:visited, .link-without-underline:focus {
    text-decoration: none;
    outline: none;
    color: inherit;
}

.general-table td, .test-list-table td {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}


.step-screenshot {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    border: 1px solid lightgray;
}