/*
    DEMO STYLE
*/
/*@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}
*/
#sidebar a, #sidebar a:hover, #sidebar a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

/*.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
*/

/*.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}*/

/*.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}*/

#sidebar i, #sidebar span {
    display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 200px;
    max-width: 200px;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
    height: 100vh;
    position: fixed;
}

#content {
    padding: 15px;
    width: 100%;
    transition: all 0.3s;
    margin-left: 200px;
    overflow-x: hidden;
}

/*#sidebar.active {
    min-width: 90px;
    max-width: 90px;
    text-align: center;
}*/

#wrapper.sidebar-collapsed #sidebar {
    min-width: 90px;
    max-width: 90px;
    text-align: center;
}

#wrapper.sidebar-collapsed #content {
    margin-left: 90px;
}

#wrapper.no-sidebar #sidebar {
    display: none;
}

#wrapper.no-sidebar #content {
    margin-left:0px;
}

/*#sidebar.active .sidebar-header h3, #sidebar.active .CTAs {*/
#wrapper.sidebar-collapsed #sidebar .sidebar-header h3{
    display: none;
}

/*#sidebar.active .sidebar-header strong {*/
#wrapper.sidebar-collapsed #sidebar .sidebar-header strong {
    display: block;
}

/*#wrapper #sidebar ul li a {
    text-align: left;
}*/

/*#sidebar.active ul li a {*/
#wrapper.sidebar-collapsed #sidebar ul li a {    
    padding: 7px;
    text-align: center;
    font-size: 0.85em;
}

/*#sidebar.active ul li a i {*/
#wrapper.sidebar-collapsed #sidebar ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

/*#sidebar.active ul ul a {*/
#wrapper.sidebar-collapsed #sidebar ul ul a {
    padding: 7px !important;
}

#wrapper.sidebar-collapsed #sidebar a[aria-expanded="false"]::before, #wrapper.sidebar-collapsed #sidebar a[aria-expanded="true"]::before {
    top: auto;
    bottom: 5px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 15px;
    background: #6d7fcc;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar .sidebar-header h3 {
    padding: 0px;
    margin: 0px;
}

#sidebar ul.components {
    padding: 10px 0;
    border-bottom: 1px solid #47748b;
    margin-bottom: 0px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.2em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}
#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}


#sidebar .collapse-sidebar {
    text-align: right;
}
#sidebar .collapse-sidebar::before {
    /*content: '\e257';*/
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
#sidebar .collapse-sidebar i::before {
    content: '\e257';
}


#userMenu::before {
    content: none;
}

#wrapper.sidebar-collapsed #sidebar .collapse-sidebar i::before {
    content: '\e258';
}

#sidebar ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        min-width: 90px;
        max-width: 90px;
        text-align: center;
        /*margin-left: -80px !important ;*/
    }

    #content {
        margin-left: 90px;
    }

    a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
        top: auto;
        bottom: 5px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }

    #sidebar .collapse-sidebar{
        content: '\e257';
        text-align: center;
    }

    #wrapper.sidebar-collapsed #sidebar {
        margin-left: 0 !important;
    }

    #sidebar .sidebar-header h3{
        display: none;
    }

    #sidebar .sidebar-header strong {
        display: block;
    }

    #sidebar ul li a {
        padding: 7px;
        text-align: center;
        font-size: 0.85em;
    }

    #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-right:  0;
        display: block;
        font-size: 1.80em;
        margin-bottom: 5px;
    }

    #sidebar ul ul a {
        padding: 10px !important;
    }

    #sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}
