


.input-group {
    margin-bottom: 5px;
    width: 100%;
}

.custom-input {

}

.same-heigth-col {
    float: none;
    display: table-cell;
    vertical-align: top;
}

#stepsContainerContainer {
	background-color: lightcyan;
	padding-bottom: 10px;
}

.step-input-container {
	padding-left: 0px;
	padding-right: 10px;
}

#pageObjectsContainerContainer {
	background-color: beige;
	padding-bottom: 10px;
}

#descriptionContainer {
	background-color: seashell;
	padding-bottom: 10px;
}

.step {
	clear: both;
}

.autocomplete-suggestions {
	background-color: white;
	border-left: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
}

#datosContainerContainer {
	background-color: lightgoldenrodyellow;
	padding-bottom: 10px;
}

#datosContainer {

}

#datos {
	display: table-cell;
	width: 100%;
	position: relative;
}

#dataTable {
	background-color: white;
	margin-bottom: 5px;
}

#dataTable td, #dataTable th {
	padding: 0px;
}

#dataTable th.index {
	width: 30px;
	text-align: center;
}

#dataTable .input-group {
	margin-bottom: 0px;
}

#dataTable input {
	border: 0px;
	padding: 4px 4px;
	height: 25px;
}

.add-new-icon {
	width: 25px;
	vertical-align: inherit;
}