
html {
    overflow-y: scroll;
}


.CodeMirror {
	font-size:13px;
	height: 350px;
}


.light-gray-block {
	background-color: #F8F8F8; 
}

.light-gray-block:hover {
	background-color: white; 
}

.input-group {
    margin-bottom: 5px;
    width: 100%;
}


.add-new-icon {
	width: 25px;
	vertical-align: inherit;
}

.input-middle-btn button{
	border-radius: 0px;
	border-left: 0px;
	border-right: 0px;
}