
#testNameInput {
	display: inline;
}

#testNameInput input {
	width: calc(100% - 20px);
}

/* data table */

#dataContainerContainer {
	padding-bottom: 10px;
}

#dataTableContainer {
	display: table-cell;
	width: 100%;
	position: relative;
}

#dataTable {
	background-color: white;
	margin-bottom: 5px;
}

#dataTable td, #dataTable th {
	padding: 0px;
}

#dataTable th.index {
	width: 30px;
	text-align: center;
}

#dataTable .input-group {
	margin-bottom: 0px;
}

#dataTable input {
	border: 0px;
	padding: 4px 4px;
	height: 25px;
}