
#testNameInput {
	display: inline;
}

#testNameInput input {
	width: calc(100% - 20px);
}

.inline-remove-icon {
    display: inline-block;
    margin-top: 10px;
    margin-left: 5px;
}

.inline-remove-icon a {
	color: black;
}

/* data table */

#dataContainerContainer {
	padding-bottom: 10px;
}

#dataTableContainer {
	display: table-cell;
	width: 100%;
	position: relative;
}

#dataTable {
	background-color: white;
	margin-bottom: 5px;
}

#dataTable td, #dataTable th {
	padding: 0px;
}

#dataTable th.index {
	width: 30px;
	text-align: center;
}

#dataTable .input-group {
	margin-bottom: 0px;
}

#dataTable input {
	border: 0px;
	padding: 4px 4px;
	height: 25px;
}


/* CODE EDITOR CODEMIRROR */

.CodeMirror {
	font-size:13px;
	height: auto;
	border-radius: 3px;
	border: 1px solid #e0e0e0;
}

.CodeMirror-scroll {
    min-height: 150px
}