
html {
    overflow-y: scroll;
}

.input-group {
    margin-bottom: 5px;
    width: 100%;
}



#stepsContainerContainer {
	padding-bottom: 10px;
}

#setupSteps {
	margin-bottom: 20px;	
}

.step-input-container {
	padding-left: 0px;
	padding-right: 10px;
}

.step-numbering {
	float: left;
	height: 34px;
	line-height: 34px;
	font-weight: bold;
	margin-right: 5px;
	width: 16px;
	cursor: move;
	cursor: -webkit-grabbing;
}

.step-remove-icon {
	float: right;
	height: 34px;
	line-height: 34px;
	font-weight: bold;
	width: 16px;
}

.step-remove-icon a {
	color: black;
}

#steps {
	margin-bottom: 5px;
}

#pageObjectsContainerContainer {
	padding-bottom: 10px;
}

#descriptionContainer {
	padding-bottom: 10px;
}

.step {
	clear: both;
}

.add-new-icon {
	width: 25px;
	vertical-align: inherit;
}

.input-middle-btn button{
	border-radius: 0px;
	border-left: 0px;
	border-right: 0px;
}

.params {
	padding-left: 0px;
	padding-right: 0px;
	width: 60%;
}

.step-first-input-container {
	width: 30%;
}

#pageObjects input.selected-page {
	cursor: default;
}

#pageModal.modal .modal-dialog{
	width: auto;
	margin: 10px;
	height: 90%;

}

#pageModal.modal .modal-dialog .modal-content{
	height: 100%;
}

#pageModal.modal .modal-dialog .modal-content .modal-body{
	width: 100%;
	height: calc(100% - 41px);
	padding: 0px;
}

#pageModal #pageModalIframe {
	border: none;
	width: 100%;
	height: 100%;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

@media (min-width: 900px){
	#pageModal.modal .modal-dialog{
    	width: 85%;
    	margin: 30px auto;
    }
}

.not-exist {
	/*border: solid 2px #d9534f;*/
	box-shadow: inset 0px 0px 4px 1px #d9534f;
}