
html {
    overflow-y: scroll;
}

.input-group {
    margin-bottom: 5px;
    width: 100%;
}

.same-heigth-col {
    float: none;
    display: table-cell;
    vertical-align: top;
}

#stepsContainerContainer {
	padding-bottom: 10px;
}

#setupSteps {
	margin-bottom: 20px;	
}

.step-input-container {
	padding-left: 0px;
	padding-right: 10px;
}

.step-numbering {
	float: left;
	height: 34px;
	line-height: 34px;
	font-weight: bold;
	margin-right: 5px;
	width: 16px;
	cursor: move;
	cursor: -webkit-grabbing;
}

.step-remove-icon {
	float: right;
	height: 34px;
	line-height: 34px;
	font-weight: bold;
	width: 16px;
}

.step-remove-icon a {
	color: black;
}

#steps {
	margin-bottom: 5px;
}

#pageObjectsContainerContainer {
	padding-bottom: 10px;
}

#descriptionContainer {
	padding-bottom: 10px;
}

.step {
	clear: both;
}

.add-new-icon {
	width: 25px;
	vertical-align: inherit;
}

.input-middle-btn button{
	border-radius: 0px;
	border-left: 0px;
	border-right: 0px;
}

.params {
	padding-left: 0px;
	padding-right: 0px;
	width: 60%;
}

.step-first-input-container {
	width: 30%;
}