{% extends "layout.html" %} 

{% block title %}Golem : {{project|capitalize}} : {{full_test_case_name}}{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='js/external/code_mirror/codemirror.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/test_case.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/test_case_common.css') }}">
{% endblock %} 

{% block content %}
<div>
    <div>
        <div class="header-col" style="width: calc(100% - 270px)">
            <h3 id="testNameContainer">
                <span id="testName" class="element-name" onclick="TestCommon.Header.startEditTestName()">
                    {{full_test_case_name}}
                </span>
                <span id="testNameInput" style="display: none">
                    <input type="text">
                </span>
            </h3>
        </div>
        <div class="header-col header-col-right">
            {% if g.user.project_weight(project) >= 30 %}
            <div class="btn-group" role="group" aria-label="...">
              <button id="runTest" class="btn btn-default btn-sm" onclick="Test.runTest()"><span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span> Run Test</button>
              <button id="openRunTestConfig" class="btn btn-default btn-sm" onclick="Main.TestRunner.openConfigModal(Test.project, Test.fullName)" style="padding-left: 7px; padding-right: 7px;"><span class="caret"></span></button>
            </div>
            {% endif %}
            <a id="loadCodeButton" class="btn btn-default btn-sm" href="code/"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>Code<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></a>
            {% if g.user.project_weight(project) >= 30 %}
            <button id="save" class="btn btn-default btn-sm" onclick="Test.save({runAfter: false});"><span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> Save</button>
            {% endif %}
        </div>
    </div>
    <div class="clearfix"></div>
    <div id="descriptionPageObjectsContainer" style="display: table; width: 100%;">
        <div class="col-sm-6 same-heigth-col gray-1-background" id="descriptionContainer" style="border: 1px solid #e0e0e0;  border-top-left-radius: 3px; ">
            <h4>Description</h4>
            <textarea id="description" class="form-control" rows="3">{{test_components.description }}</textarea>
            <div class="clearfix" style="margin-bottom: 5px"></div>
            <div class="form-horizontal">
                <div class="col-xs-2 control-label no-padding-left" style="text-align: left; font-weight: bold">Tags</div>
                <div class="col-xs-10" style="padding-right: 0px; padding-left: 0px;">
                    <input type="text" class="form-control" id="tags" value="{{ ', '.join(test_components.tags) + ', ' if test_components.tags else '' }}">
                </div>
            </div>
            <div class="clearfix" style="margin-bottom: 5px"></div>
            <div class="form-horizontal" style="height: 34px">
                <div class="col-xs-2 control-label no-padding-left" style="text-align: left; font-weight: bold">Skip</div>
                <div class="col-xs-1" style="padding-right: 0px; padding-left: 0px;">
                    <div class="checkbox">
                        <input type="checkbox" id="skipCheckbox" style="margin-left: 0px" onchange="Test.Utils.onSkipCheckboxChange()" {% if test_components.skip %}checked{% endif %}>
                    </div>
                </div>
                <div class="col-xs-9" style="padding-right: 0px; padding-left: 0px;">
                    <input type="text" class="form-control" id="skipReason" {% if not test_components.skip %}style="display: none"{% endif %}
                           value="{% if test_components.skip is string %}{{test_components.skip}}{% endif %}" placeholder="Skip message (optional)">
                </div>
            </div>

        </div>
        <div class="col-sm-6 same-heigth-col gray-1-background" id="pageObjectsContainerContainer" style="border-top: 1px solid #e0e0e0; border-right: 1px solid #e0e0e0; border-bottom: 1px solid #e0e0e0; border-top-right-radius: 3px;">
            <h4>Pages</h4>
            <div id="pageObjectsContainer">
                <div id="pageObjects">
                    {% for page in test_components.pages %}
                    <div class="input-group page">
                        <input type="text" disabled class="form-control page-name" value="{{page}}">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="button" onclick="Test.loadPageInModal(this)"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
                            <button class="btn btn-default" type="button" onclick="Test.Utils.openPageInNewWindow(this)"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></button>
                            <button class="btn btn-default" type="button" onclick="Test.deletePageObject(this)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div>
                    <button id="newPageButton" class="btn btn-default" style="float: right;" onclick="Test.displayNewPagePrompt();"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Page</button>
                    <div style="overflow: hidden; padding-right: .5em;">
                        <input type="text" style="width: 100%;" class="form-control page-objects-input page-objects-autocomplete" placeholder="import page">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-sm-12 gray-1-background" id="stepsContainerContainer" style="border-left: 1px solid #e0e0e0; border-right: 1px solid #e0e0e0; border-bottom: 1px solid #e0e0e0;">
        <!-- setup -->
        <div id="showSetupLink" class="col-sm-12 text-center" style="padding-top: 10px; {% if test_components.steps.setup %}display: none{% endif %}">
            <a href="javascript:void(0)" class="text-muted link-without-underline" onclick="Test.Utils.showSetupSteps()">Setup</a>
        </div>
        <div id="setupSteps" class="clearfix" {% if not test_components.steps.setup %}style="display: none"{% endif %}>
            <div class="steps">
                <a href="javascript:void(0)" onclick="Test.Utils.collapseSetup()" class="link-without-decoration"><h4>Setup</h4></a>
            </div>
            <button class="btn btn-default btn-sm add-step" style="margin-left: 21px;" onclick="Test.addFirstStepInput('setup');"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Step</button>
        </div>
        <!-- test -->
        <h4>Test</h4>
        <div id="testSteps">
            <div class="steps"></div>
            <button class="btn btn-default btn-sm add-step" style="margin-left: 21px;" onclick="Test.addFirstStepInput('test');">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Step
            </button>
        </div>
        <!-- teardown -->
        <div id="showTeardownLink" class="col-sm-12 text-center" style="padding-top: 10px">
            <a href="javascript:void(0)" class="text-muted link-without-underline" onclick="Test.Utils.showTeardownSteps()">Teardown</a>
        </div>
        <div id="teardownSteps" class="clearfix" style="display: none">
            <div class="steps">
                <a href="javascript:void(0)" onclick="Test.Utils.collapseTeardown()" class="link-without-decoration"><h4>Teardown</h4></a>
            </div>
            <button class="btn btn-default btn-sm add-step" style="margin-left: 21px;" onclick="Test.addFirstStepInput('teardown');"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Step</button>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-sm-12 gray-1-background" id="dataContainerContainer" style="border-left: 1px solid #e0e0e0; border-right: 1px solid #e0e0e0; border-bottom: 1px solid #e0e0e0; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px;">
        <h4>Data</h4>
        <div id="dataTableContainer">
            <table class="table table-bordered table-condensed" id="dataTable">
                {% if test_data[0] %}
                <thead>
                    <tr>
                        <th class="index">#</th>
                        {% for key, val in test_data[0].items() %}
                        <th>
                            <div class="input-group">
                                <input class="form-control" type="text" value="{{key}}" onchange="Test.refreshValueInputsAutocomplete()">
                            </div>
                        </th>
                        {% endfor %}
                        <th>
                            <div class="input-group">
                                <input class="form-control" type="text" onchange="Test.refreshValueInputsAutocomplete()">
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in test_data %}
                    <tr>
                        <th scope="row" class="index">{{loop.index}}</th>
                        {% for key, value in row.items() %}
                        <td>
                            <div class="input-group">
                                <input class="form-control" type="text" value="{{value}}">
                            </div>
                        </td>
                        {% endfor %}
                        <td><div class="input-group"><input class="form-control" type="text"></div>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <th scope="row" class="index">{{test_data|length + 1}}</th>
                        {% for item in test_data[0].items() %}
                        <td><div class="input-group"><input class="form-control" type="text"></div>
                        </td>
                        {% endfor %}
                        <td><div class="input-group"><input class="form-control" type="text"></div>
                        </td>
                    </tr>
                </tbody>
                {% else %}
                <thead>
                    <tr>
                        <th class="index">#</th>
                        {% for i in range(4) %}
                        <th>
                            <div class="input-group">
                                <input class="form-control" type="text" onchange="Test.refreshValueInputsAutocomplete()">
                            </div>
                        </th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for i in range(3) %}
                    <tr>
                        <th scope="row" class="index">{{i+1}}</th>
                        {% for j in range(4) %}
                        <td>
                            <div class="input-group">
                                <input class="form-control" type="text">
                            </div>
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
                {% endif %}
            </table>
        </div>
        <div style="display: table-cell; position: relative;">
            <a href="javascript:void(0)" onclick="TestCommon.DataTable.addColumn();">
                <img src="{{ url_for('static', filename='img/plus_sign.png') }}" class="add-new-icon" style="margin-left: 5px;">
            </a>
        </div>
        <div class="text-right" style="width: 100%">
            <a href="javascript:void(0)" onclick="TestCommon.DataTable.addRow();">
                <img src="{{ url_for('static', filename='img/plus_sign.png') }}" class="add-new-icon" style="margin-right: 30px;">
            </a>
        </div>
    </div>
</div>

<!-- page modal -->
<div class="modal fade" id="pageModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" style>
    <div class="modal-content">
      <div class="modal-header" style="padding-top: 10px; padding-bottom: 5px; height: 41px;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <iframe id="pageModalIframe"></iframe>
      </div>
    </div>
  </div>
</div>
<script src="{{ url_for('static', filename='js/external/code_mirror/codemirror.js') }}"></script>
<script src="{{ url_for('static', filename='js/external/code_mirror/python.js') }}"></script>
<script src="{{ url_for('static', filename='js/external/sortable.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/external/jquery.autocomplete.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/test_case.js') }}"></script>
<script src="{{ url_for('static', filename='js/test_common.js') }}"></script>
<script>
    let testCaseName = "{{test_case_name}}";
    let fullTestCaseName = "{{full_test_case_name}}";
    let importedPages = {{test_components.pages|tojson}};
    let steps = {{test_components.steps|tojson}}
</script>
{% endblock %}