{% extends "layout.html" %} 

{% block title %}Golem : {{project|capitalize}} : {{full_test_case_name}}{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='js/external/code_mirror/codemirror.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/test_case_code.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/test_case_common.css') }}">
{% endblock %} 

{% block content %}
<div>
    <div>
        <div class="header-col" style="width: calc(100% - 270px)">
            <h3 id="testCaseName" class="element-name">
                <span id="testName">{{full_test_case_name}}</span>
            </h3>
        </div>
        <div class="header-col header-col-right">
            {% if g.user.project_weight(project) >= 30 %}
            <div class="btn-group" role="group" aria-label="...">
              <button id="runTest" class="btn btn-default btn-sm" onclick="runTest()"><span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span> Run Test</button>
              <button id="openRunTestConfig" class="btn btn-default btn-sm" onclick="Main.TestRunner.openConfigModal(Global.project, fullTestCaseName)" style="padding-left: 7px; padding-right: 7px;"><span class="caret"></span></button>
            </div>
            {% endif %}
            <a id="loadGuiButton" class="btn btn-default btn-sm" href="/project/{{project}}/test/{{full_test_case_name}}/"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Preview</a>
            {% if g.user.project_weight(project) >= 30 %}
            <button id="save" class="btn btn-default btn-sm" onclick="saveTestCase();"><span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> Save</button>
            {% endif %}
        </div>
    </div>
    <div class="clearfix"></div>
    <div id="error-container" class="error-container" style="display: none;">
        <pre style="color: red"></pre>
    </div>
    <div id="codeEditorContainer"></div>
    {% if test_data or test_data_setting == 'csv' %}
    <div id="dataContainerContainer" class="col-sm-12 light-gray-block">
        <h4>Data</h4>
        <div id="dataTableContainer">
            <table class="table table-bordered table-condensed" id="dataTable">
                {% if test_data[0] %}
                <thead>
                    <tr>
                        <th class="index">#</th>
                        {% for key, val in test_data[0].items() %}
                        <th>
                            <div class="input-group">
                                <input class="form-control" type="text" value="{{key}}">
                            </div>
                        </th>
                        {% endfor %}
                        <th>
                            <div class="input-group">
                                <input class="form-control" type="text">
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in test_data %}
                    <tr>
                        <th scope="row" class="index">{{loop.index}}</th>
                        {% for key, value in row.items() %}
                        <td>
                            <div class="input-group">
                                <input class="form-control" type="text" value="{{value}}">
                            </div>
                        </td>
                        {% endfor %}
                        <td><div class="input-group"><input class="form-control" type="text"></div>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <th scope="row" class="index">{{test_data|length + 1}}</th>
                        {% for item in test_data[0].items() %}
                        <td><div class="input-group"><input class="form-control" type="text"></div>
                        </td>
                        {% endfor %}
                        <td><div class="input-group"><input class="form-control" type="text"></div>
                        </td>
                    </tr>
                </tbody>

                {% else %}
                <thead>
                    <tr>
                        <th class="index">#</th>
                        {% for i in range(4) %}
                        <th>
                            <div class="input-group">
                                <input class="form-control" type="text">
                            </div>
                        </th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for i in range(3) %}
                    <tr>
                        <th scope="row" class="index">{{i+1}}</th>
                        {% for j in range(4) %}
                        <td>
                            <div class="input-group">
                                <input class="form-control" type="text">
                            </div>
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
                {% endif %}
            </table>
        </div>
        <div style="display: table-cell; position: relative;">
            <a href="javascript:void(0)" onclick="TestCommon.DataTable.addColumn();">
                <img src="{{ url_for('static', filename='img/plus_sign.png') }}" class="add-new-icon" style="margin-left: 5px;">
            </a>
        </div>
        <div class="text-right" style="width: 100%">
            <a href="javascript:void(0)" onclick="TestCommon.DataTable.addRow();">
                <img src="{{ url_for('static', filename='img/plus_sign.png') }}" class="add-new-icon" style="margin-right: 30px;">
            </a>
        </div>
    </div>
    {% endif %}
</div>

<script src="{{ url_for('static', filename='js/external/code_mirror/codemirror.js') }}"></script>
<script src="{{ url_for('static', filename='js/external/code_mirror/python.js') }}"></script>
<script src="{{ url_for('static', filename='js/test_case_code.js') }}"></script>
<script src="{{ url_for('static', filename='js/external/jquery.autocomplete.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/test_common.js') }}"></script>
<script>
    let testCaseName = "{{test_case_name}}";
    let fullTestCaseName = "{{full_test_case_name}}";
    let testCaseCode = {{test_case_contents|tojson}};
    let codeError = {{error|tojson}};
</script>
{% endblock %}